In [12]:
import pandas as pd
import os
import numpy as np
from tqdm.auto import tqdm

In [14]:
data = pd.read_csv("/home/vivi/FDA_datasets/demographics_event_preprocessed.csv")

In [15]:
data

,Unnamed: 0,Internalpatientid,Age at update,Event date,Marital status,Ruca category,Marital status encoded,Ruca category encoded
0,0,100028,78.990830,2020-08-24 03:33:32,Married,Urban,1.0,1.0
1,1,100032,91.357622,2008-02-07 05:03:27,Married,Rural,1.0,0.0
2,2,100046,72.961415,2003-09-14 09:32:12,Married,Urban,1.0,1.0
3,3,100071,75.221222,2019-04-25 08:33:42,Widowed,Urban,1.0,1.0
4,4,100091,80.955929,2022-02-09 09:24:20,Never married,Urban,1.0,1.0
...,...,...,...,...,...,...,...,...
133247,133247,99898,92.376313,2014-05-12 13:01:07,Married,Urban,1.0,1.0
133248,133248,9995,79.974938,2011-07-08 20:09:29,Married,Rural,1.0,0.0
133249,133249,99950,77.154395,2005-12-14 22:21:25,Married,Urban,1.0,1.0
133250,133250,9998,62.324623,2011-02-23 15:35:32,Divorced,Urban,0.0,1.0
133251,133251,9999,69.752317,2022-11-20 11:19:29,Married,Urban,1.0,1.0

In [8]:
data['Gender'].value_counts()

Male      129777
Female      3475
Name: Gender, dtype: int64

In [6]:
data['Ethnicity'].value_counts()

Not Hispanic or Latino    102367
Not specified              26486
Hispanic or Latino          4399
Name: Ethnicity, dtype: int64

In [9]:
data['Races'].value_counts()

White                        86809
Other                        29474
Black or African American    16969
Name: Races, dtype: int64

In [10]:
data['Veteran flag'].value_counts()

Yes    133093
No        159
Name: Veteran flag, dtype: int64

In [11]:
pd.isnull(data).sum()

Unnamed: 0           0
Internalpatientid    0
Ethnicity            0
Gender               0
Races                0
Veteran flag         0
dtype: int64