In [1]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
#1. All cause admission left join:
path = '/home/daisy/FDA_Dataset/inpatient_all_final_test_1.csv'
inpatient_ad_test_1 = pd.read_csv(path).iloc[:,1:]

#2. All cause admission inner join
path = '/home/daisy/FDA_Dataset/inpatient_all_final_test_2.csv'
inpatient_ad_test_2 = pd.read_csv(path).iloc[:,1:]

# 3. CVD admission left join
path = '/home/daisy/FDA_Dataset/inpatient_CVD_final_test_1.csv'
inpatient_ad_cvd_test_1 = pd.read_csv(path).iloc[:,1:]

# 4. CVD admission inner join
path = '/home/daisy/FDA_Dataset/inpatient_CVD_final_test_2.csv'
inpatient_ad_cvd_test_2 = pd.read_csv(path).iloc[:,1:]

# 2. For CVD mortality	
# left join:
path = '/home/daisy/FDA_Dataset/final_cvd_mortality_test_1.csv'
inpatient_mortality_cvd_test_1 = pd.read_csv(path).iloc[:,1:]

# inner join:
path = '/home/daisy/FDA_Dataset/final_cvd_mortality_test_2.csv'
inpatient_mortality_cvd_test_2 = pd.read_csv(path).iloc[:,1:]

# 3. For all cause mortality
# left join
path = '/home/daisy/FDA_Dataset/final_allcause_mortality_test_1.csv'
inpatient_mortality_all_test_1 = pd.read_csv(path).iloc[:,1:]

# inner join
path = '/home/daisy/FDA_Dataset/final_allcause_mortality_test_2.csv'
inpatient_mortality_all_test_2 = pd.read_csv(path).iloc[:,1:]

In [18]:
feature_dict_ad_test = {
    'inpatient_ad_test_1':inpatient_ad_test_1.columns,
    'inpatient_ad_test_2':inpatient_ad_test_2.columns}
feature_dict_ad_cvd_test = {
    'inpatient_ad_cvd_test_1':inpatient_ad_cvd_test_1.columns,
    'inpatient_ad_cvd_test_2':inpatient_ad_cvd_test_2.columns}
feature_dict_mortality_cvd_test = {
    'inpatient_mortality_cvd_test_1':inpatient_mortality_cvd_test_1.columns,
    'inpatient_mortality_cvd_test_2':inpatient_mortality_cvd_test_2.columns}
feature_dict_mortality_all_test = {
    'inpatient_mortality_all_test_1':inpatient_mortality_all_test_1.columns,
    'inpatient_mortality_all_test_2':inpatient_mortality_all_test_2.columns
}
df1 = pd.DataFrame(feature_dict_ad_test)
df2 = pd.DataFrame(feature_dict_ad_cvd_test)
df3 = pd.DataFrame(feature_dict_mortality_cvd_test)
df4 = pd.DataFrame(feature_dict_mortality_all_test)

pd.concat([df1, df2, df3, df4],axis = 1)

,inpatient_ad_test_1,inpatient_ad_test_2,inpatient_ad_cvd_test_1,inpatient_ad_cvd_test_2,inpatient_mortality_cvd_test_1,inpatient_mortality_cvd_test_2,inpatient_mortality_all_test_1,inpatient_mortality_all_test_2
0,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid
1,num_stays,num_stays,num_stays,num_stays,num_stays,num_stays,num_visits,num_visits
2,stay_length,stay_length,stay_length,stay_length,stay_length,stay_length,CVD,CVD
3,num_unique_units,num_unique_units,num_unique_units,num_unique_units,num_unique_units,num_unique_units,Age 00-20,Age 00-20
4,num_transfers,num_transfers,num_transfers,num_transfers,num_transfers,num_transfers,Age 20-40,Age 20-40
...,...,...,...,...,...,...,...,...
75,Age 100-120 hypertension,Age 100-120 hypertension,Age 100-120 hypertension,Age 100-120 hypertension,Age 100-120 hypertension,Age 100-120 hypertension,NaN,NaN
76,lab_count,lab_count,lab_count,lab_count,lab_count,lab_count,NaN,NaN
77,lab_freq,lab_freq,lab_freq,lab_freq,lab_freq,lab_freq,NaN,NaN
78,lab_age_mean,lab_age_mean,lab_age_mean,lab_age_mean,lab_age_mean,lab_age_mean,NaN,NaN
79,lab_age_std,lab_age_std,lab_age_std,lab_age_std,lab_age_std,lab_age_std,NaN,NaN

In [19]:
# 1. For admission :
# 1. All cause admission left join:
path = '/home/daisy/FDA_Dataset/inpatient_all_final_1.csv'
inpatient_ad_train_1 = pd.read_csv(path).iloc[:,1:]

# 2. All cause admission inner join
path = '/home/daisy/FDA_Dataset/inpatient_all_final_2.csv'
inpatient_ad_train_2 = pd.read_csv(path).iloc[:,1:]

# 3. CVD admission left join
path = '/home/daisy/FDA_Dataset/inpatient_CVD_final_1.csv'
inpatient_ad_cvd_train_1 = pd.read_csv(path).iloc[:,1:]

# 4. CVD admission inner join
path = '/home/daisy/FDA_Dataset/inpatient_CVD_final_2.csv'
inpatient_ad_cvd_train_2 = pd.read_csv(path).iloc[:,1:]

# 2. For CVD mortality	
# left join:
path = '/home/daisy/FDA_Dataset/final_cvd_mortality_train_1.csv'
inpatient_mortality_cvd_train_1 = pd.read_csv(path).iloc[:,1:]

# inner join:
path = '/home/daisy/FDA_Dataset/final_cvd_mortality_train_2.csv'
inpatient_mortality_cvd_train_2 = pd.read_csv(path).iloc[:,1:]

#3. For all cause mortality
# left join
path = '/home/daisy/FDA_Dataset/final_allcause_mortality_train_1.csv'
inpatient_mortality_all_train_1 = pd.read_csv(path).iloc[:,1:]

# inner join
path = '/home/daisy/FDA_Dataset/final_allcause_mortality_train_2.csv'
inpatient_mortality_all_train_2 = pd.read_csv(path).iloc[:,1:]

In [20]:
feature_dict_ad_train = {
    'inpatient_ad_train_1':inpatient_ad_train_1.columns,
    'inpatient_ad_train_2':inpatient_ad_train_2.columns}
feature_dict_ad_cvd_train = {
    'inpatient_ad_cvd_train_1':inpatient_ad_cvd_train_1.columns,
    'inpatient_ad_cvd_train_2':inpatient_ad_cvd_train_2.columns}
feature_dict_mortality_cvd_train = {
    'inpatient_mortality_cvd_train_1':inpatient_mortality_cvd_train_1.columns,
    'inpatient_mortality_cvd_train_2':inpatient_mortality_cvd_train_2.columns}
feature_dict_mortality_all_train = {
    'inpatient_mortality_all_train_1':inpatient_mortality_all_train_1.columns,
    'inpatient_mortality_all_train_2':inpatient_mortality_all_train_2.columns
}
df1 = pd.DataFrame(feature_dict_ad_train)
df2 = pd.DataFrame(feature_dict_ad_cvd_train)
df3 = pd.DataFrame(feature_dict_mortality_cvd_train)
df4 = pd.DataFrame(feature_dict_mortality_all_train)

pd.concat([df1, df2, df3, df4],axis = 1)

,inpatient_ad_train_1,inpatient_ad_train_2,inpatient_ad_cvd_train_1,inpatient_ad_cvd_train_2,inpatient_mortality_cvd_train_1,inpatient_mortality_cvd_train_2,inpatient_mortality_all_train_1,inpatient_mortality_all_train_2
0,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid
1,num_stays,num_stays,num_stays,num_stays,num_stays,num_stays,num_visits,num_visits
2,stay_length,stay_length,stay_length,stay_length,stay_length,stay_length,CVD,CVD
3,num_unique_units,num_unique_units,num_unique_units,num_unique_units,num_unique_units,num_unique_units,Age 00-20,Age 00-20
4,num_transfers,num_transfers,num_transfers,num_transfers,num_transfers,num_transfers,Age 20-40,Age 20-40
...,...,...,...,...,...,...,...,...
75,Age 100-120 hypertension,Age 100-120 hypertension,Age 100-120 hypertension,Age 100-120 hypertension,Age 100-120 hypertension,Age 100-120 hypertension,NaN,NaN
76,lab_count,lab_count,lab_count,lab_count,lab_count,lab_count,NaN,NaN
77,lab_freq,lab_freq,lab_freq,lab_freq,lab_freq,lab_freq,NaN,NaN
78,lab_age_mean,lab_age_mean,lab_age_mean,lab_age_mean,lab_age_mean,lab_age_mean,NaN,NaN
79,lab_age_std,lab_age_std,lab_age_std,lab_age_std,lab_age_std,lab_age_std,NaN,NaN

In [26]:
# For admission 
# 1. All cause admission left join:
path = '/home/daisy/FDA_Dataset/inpatient_all_final_quality_admission_1.csv'
inpatient_ad_quality_1 = pd.read_csv(path).iloc[:,1:]

# 2. All cause admission inner join
path = '/home/daisy/FDA_Dataset/inpatient_all_final_quality_admission_2.csv'
inpatient_ad_quality_2 = pd.read_csv(path).iloc[:,1:]

# 3. CVD admission left join
path = '/home/daisy/FDA_Dataset/inpatient_CVD_final_quality_admission_1.csv'
inpatient_ad_cvd_quality_1 = pd.read_csv(path).iloc[:,1:]
	
# 4. CVD admission inner join
path = '/home/daisy/FDA_Dataset/inpatient_CVD_final_quality_admission_2.csv'
inpatient_ad_cvd_quality_2 = pd.read_csv(path).iloc[:,1:]

# 2. For CVD mortality	
# left join:
path = '/home/daisy/FDA_Dataset/final_cvd_mortality_quality_1.csv'
inpatient_mortality_cvd_quality_1 = pd.read_csv(path).iloc[:,1:]

# inner join:
path = '/home/daisy/FDA_Dataset/final_cvd_mortality_quality_2.csv'
inpatient_mortality_cvd_quality_2 = pd.read_csv(path).iloc[:,1:]

# 3. For all cause mortality
# left join
path = '/home/daisy/FDA_Dataset/final_allcause_mortality_quality_1.csv'
inpatient_mortality_all_quality_1 = pd.read_csv(path).iloc[:,1:]
		
# inner join
path = '/home/daisy/FDA_Dataset/final_allcause_mortality_quality_2.csv'
inpatient_mortality_all_quality_2 = pd.read_csv(path).iloc[:,1:]

In [27]:
feature_dict_ad_quality = {
    'inpatient_ad_quality_1':inpatient_ad_quality_1.columns,
    'inpatient_ad_quality_2':inpatient_ad_quality_2.columns}
feature_dict_ad_cvd_quality = {
    'inpatient_ad_cvd_quality_1':inpatient_ad_cvd_quality_1.columns,
    'inpatient_ad_cvd_quality_2':inpatient_ad_cvd_quality_2.columns}
feature_dict_mortality_cvd_quality = {
    'inpatient_mortality_cvd_quality_1':inpatient_mortality_cvd_quality_1.columns,
    'inpatient_mortality_cvd_quality_2':inpatient_mortality_cvd_quality_2.columns}
feature_dict_mortality_all_quality = {
    'inpatient_mortality_all_quality_1':inpatient_mortality_all_quality_1.columns,
    'inpatient_mortality_all_quality_2':inpatient_mortality_all_quality_2.columns
}
df1 = pd.DataFrame(feature_dict_ad_quality)
df2 = pd.DataFrame(feature_dict_ad_cvd_quality)
df3 = pd.DataFrame(feature_dict_mortality_cvd_quality)
df4 = pd.DataFrame(feature_dict_mortality_all_quality)

pd.concat([df1, df2, df3, df4],axis = 1)

,inpatient_ad_quality_1,inpatient_ad_quality_2,inpatient_ad_cvd_quality_1,inpatient_ad_cvd_quality_2,inpatient_mortality_cvd_quality_1,inpatient_mortality_cvd_quality_2,inpatient_mortality_all_quality_1,inpatient_mortality_all_quality_2
0,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid,Internalpatientid
1,num_stays,num_stays,num_stays,num_stays,num_stays,num_stays,num_visits,num_visits
2,stay_length,stay_length,stay_length,stay_length,stay_length,stay_length,CVD,CVD
3,num_unique_units,num_unique_units,num_unique_units,num_unique_units,num_unique_units,num_unique_units,Age 00-20,Age 00-20
4,num_transfers,num_transfers,num_transfers,num_transfers,num_transfers,num_transfers,Age 20-40,Age 20-40
...,...,...,...,...,...,...,...,...
75,Age 100-120 hypertension,Age 100-120 hypertension,Age 100-120 hypertension,Age 100-120 hypertension,Age 100-120 hypertension,Age 100-120 hypertension,NaN,NaN
76,lab_count,lab_count,lab_count,lab_count,lab_count,lab_count,NaN,NaN
77,lab_freq,lab_freq,lab_freq,lab_freq,lab_freq,lab_freq,NaN,NaN
78,lab_age_mean,lab_age_mean,lab_age_mean,lab_age_mean,lab_age_mean,lab_age_mean,NaN,NaN
79,lab_age_std,lab_age_std,lab_age_std,lab_age_std,lab_age_std,lab_age_std,NaN,NaN