In [1]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns
from importlib import reload
import matplotlib.pyplot as plt
import preprocess_data 

reload(preprocess_data)

%matplotlib inline

In [2]:
print("Hello World")

Hello World

In [9]:
death = pd.read_csv('/home/bhatti/dataset/VCHAMPS/death_train.csv').iloc[:,1:]

In [16]:
internalpatientid = pd.read_csv('/home/vivi/FDA_datasets/outpatient_state.csv').iloc[:,1:]['Internalpatientid'].reset_index()

In [11]:
death

       Internalpatientid  Age at death             Death date
0                 100036     72.412770  2015-01-18 20:49:10.0
1                 100037     75.241135  2008-10-16 15:14:26.0
2                 100045     85.399403  2019-01-26 11:33:52.0
3                 100095     84.136551  2004-08-10 21:49:35.0
4                  10013     68.372126  2007-06-11 00:17:06.0
...                  ...           ...                    ...
97279              99827     87.898767  2003-05-13 23:58:55.0
97280              99842     78.431214  2010-05-25 14:36:27.0
97281              99847     82.115566  2012-02-20 05:44:33.0
97282              99872     92.974602  2010-04-18 05:12:36.0
97283              99999     96.370286  2013-04-14 08:08:53.0

[97284 rows x 3 columns]

In [4]:
internalpatientid_dead = death['Internalpatientid']

In [24]:
death_merge = internalpatientid.merge(death, how = 'left', on = 'Internalpatientid').drop(['index'], axis=1)

Add column indicate whether the patient die or not. Die = 1, Alive = 0.

In [33]:
death_merge['Death indicator'] = pd.notnull(death_merge['Age at death'])

In [38]:
death_merge['Death date'] = death_merge['Death date'].apply(preprocess_data.preprocess_time_string)

In [39]:
death_merge

        Internalpatientid  Age at death          Death date  Death indicator
0                       1           NaN                 NaT            False
1                       2           NaN                 NaT            False
2                       3     82.284691 2005-10-12 01:18:21             True
3                       4     84.190359 2015-02-24 13:49:53             True
4                       5     76.506124 2004-11-04 23:43:20             True
...                   ...           ...                 ...              ...
133243             169060     71.832486 2017-10-15 18:34:11             True
133244             169061     81.975844 2024-02-16 04:06:03             True
133245             169062     74.181399 2005-10-14 07:13:53             True
133246             169063     78.751284 2006-05-11 14:16:02             True
133247             169064     88.057470 2015-01-09 00:07:21             True

[133248 rows x 4 columns]

In [36]:
death_merge.to_csv('/home/vivi/FDA_datasets/death_preprocessed.csv')