In [1]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns
from importlib import reload
import matplotlib.pyplot as plt
import preprocess_data 

reload(preprocess_data)

%matplotlib inline

In [2]:
death = pd.read_csv('/home/bhatti/dataset/VCHAMPS/death_train.csv').iloc[:,1:]

# Exploratory Data Analysis

In [3]:
death

       Internalpatientid  Age at death             Death date
0                 100036     72.412770  2015-01-18 20:49:10.0
1                 100037     75.241135  2008-10-16 15:14:26.0
2                 100045     85.399403  2019-01-26 11:33:52.0
3                 100095     84.136551  2004-08-10 21:49:35.0
4                  10013     68.372126  2007-06-11 00:17:06.0
...                  ...           ...                    ...
97279              99827     87.898767  2003-05-13 23:58:55.0
97280              99842     78.431214  2010-05-25 14:36:27.0
97281              99847     82.115566  2012-02-20 05:44:33.0
97282              99872     92.974602  2010-04-18 05:12:36.0
97283              99999     96.370286  2013-04-14 08:08:53.0

[97284 rows x 3 columns]

In [5]:
uniquePatient = death['Internalpatientid'].unique()

In [7]:
uniquePatient.sort()

In [8]:
uniquePatient

array([     3,      4,      5, ..., 169062, 169063, 169064])

In [9]:
len(uniquePatient)

97284

# Preprocessing

In [13]:
death['Death date'] = death['Death date'].apply(preprocess_data.preprocess_time_string)

In [14]:
death

       Internalpatientid  Age at death          Death date
0                 100036     72.412770 2015-01-18 20:49:10
1                 100037     75.241135 2008-10-16 15:14:26
2                 100045     85.399403 2019-01-26 11:33:52
3                 100095     84.136551 2004-08-10 21:49:35
4                  10013     68.372126 2007-06-11 00:17:06
...                  ...           ...                 ...
97279              99827     87.898767 2003-05-13 23:58:55
97280              99842     78.431214 2010-05-25 14:36:27
97281              99847     82.115566 2012-02-20 05:44:33
97282              99872     92.974602 2010-04-18 05:12:36
97283              99999     96.370286 2013-04-14 08:08:53

[97284 rows x 3 columns]