In [1]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [2]:
path = '/home/daisy/FDA_Dataset/demographics_static_quality_admission.csv'
demographic_static = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/immunization_quality_admission.csv'
immunization = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_medications_ordered_quality_admission.csv'
medications_ordered = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/procedures_quality_admission.csv'
procedures = pd.read_csv(path).iloc[:,1:]

In [5]:
path ='/home/vivi/FDA_datasets/inpatient_specialty_quality_admission.csv'
inpatient_specialty = pd.read_csv(path).iloc[:,1:]

path ='/home/vivi/FDA_datasets/outpatient_state_quality_admission.csv'
demographics_event = pd.read_csv(path).iloc[:,1:]
demographics_event = demographics_event.drop(columns = ['State'])

path = '/home/vivi/FDA_datasets/outpatient_state_quality_admission.csv'
outpatient_state = pd.read_csv(path).iloc[:,1:]

path = '/home/vivi/FDA_datasets/inpatient_measurements_bp_quality_admission.csv'
measurements_bp = pd.read_csv(path).iloc[:,1:]

In [15]:
path = '/home/hassan/lily/MLA/FDA/inpatient_simple_quality.csv'
inpatient = pd.read_csv(path).iloc[:,1:]

path = '/home/hassan/lily/MLA/FDA/inpatient_lab_results_quality.csv' 
lab_results = pd.read_csv(path).iloc[:,1:]
lab_results = lab_results.rename(columns = {'count':'lab_count', 'freq':'lab_freq', 
                              'age_mean':'lab_age_mean', 'age_std':'lab_age_std'})

In [16]:
df1 = inpatient.merge(procedures, how = 'left', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'left', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'left', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'left', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'left', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'left', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'left', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'left', on = 'Internalpatientid')

df = df8.merge(lab_results, how = 'left', on = 'Internalpatientid')

In [9]:
inpatient_pid = set(inpatient['Internalpatientid'])
medications_pid = set(medications_ordered['Internalpatientid'])
immunization_pid = set(immunization['Internalpatientid'])
procedures_pid = set(procedures['Internalpatientid'])
demographic_static_pid = set(demographic_static['Internalpatientid'])
inpatient_specialty_pid = set(inpatient_specialty['Internalpatientid'])
demographics_event_pid = set(demographics_event['Internalpatientid'])
outpatient_state_pid = set(outpatient_state['Internalpatientid'])
measurements_bp_pid =set(measurements_bp['Internalpatientid'])
lab_results_pid = set(lab_results['Internalpatientid'])

In [10]:
data_pid = [['inpatient_pid',len(list(inpatient_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_pid)))],
            ['medications_pid',len(list(medications_pid)),len(set.intersection(set(inpatient_pid) & set(medications_pid)))],
            ['immunization_pid',len(list(immunization_pid)),len(set.intersection(set(inpatient_pid) & set(immunization_pid)))],
            ['procedures_pid',len(list(procedures_pid)),len(set.intersection(set(inpatient_pid) & set(procedures_pid)))],
            ['demographic_static_pid',len(list(demographic_static_pid)),len(set.intersection(set(inpatient_pid) & set(demographic_static_pid)))],
            ['inpatient_specialty_pid',len(list(inpatient_specialty_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_specialty_pid)))],
            ['demographics_event_pid',len(list(demographics_event_pid)),len(set.intersection(set(inpatient_pid) & set(demographics_event_pid)))],
            ['outpatient_state_pid',len(list(outpatient_state_pid)),len(set.intersection(set(inpatient_pid) & set(outpatient_state_pid)))],
            ['measurements_bp_pid',len(list(measurements_bp_pid)),len(set.intersection(set(inpatient_pid) & set(measurements_bp_pid)))],
            ['lab_results_pid',len(list(lab_results_pid)),len(set.intersection(set(inpatient_pid) & set(lab_results_pid)))]]
df_pid = pd.DataFrame(data_pid, columns = ['table name', 'number of unique pid','intersection pid'])
df_pid['percentage'] = df_pid['intersection pid'] / df_pid['number of unique pid'][0] 
df_pid

                table name  number of unique pid  intersection pid  percentage
0            inpatient_pid                   632               632    1.000000
1          medications_pid                   412               412    0.651899
2         immunization_pid                   939               603    0.954114
3           procedures_pid                   632               632    1.000000
4   demographic_static_pid                   998               632    1.000000
5  inpatient_specialty_pid                   632               632    1.000000
6   demographics_event_pid                   632               632    1.000000
7     outpatient_state_pid                   632               632    1.000000
8      measurements_bp_pid                   632               632    1.000000
9          lab_results_pid                   631               631    0.998418

In [22]:
df1 = df.drop(columns = ['next_readmission_time','Veteran flag' ,'Discharge date', 'State'])

### Save all cause readmission left join

In [24]:
#df1.to_csv('/home/daisy/FDA_Dataset/inpatient_all_final_quality_admission_1.csv')

### Save CVD cause readmission left join

In [25]:
# Save inpatient combine other test sets for CVD readmission and mortality
df_CVD = df.drop(columns = ['Veteran flag' ,'Discharge date', 'State'])
df_CVD = df_CVD[df_CVD['next_readmission_time'] > 0]
df_CVD = df_CVD.drop(columns = ['next_readmission_time'])

# CVD_readmission: readmitted beacuse of CVD
# next_readmission_time: time difference between this admission and next admission
#df_CVD.to_csv('/home/daisy/FDA_Dataset/inpatient_CVD_final_quality_admission_1.csv')

### Save all cause readmission inner join

In [27]:
df1 = inpatient.merge(procedures, how = 'inner', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'inner', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'inner', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'inner', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'inner', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'inner', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'inner', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'inner', on = 'Internalpatientid')

df_2 = df8.merge(lab_results, how = 'inner', on = 'Internalpatientid')
df_2

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_admission,CVD,unique_admitting_specialty,unique_discharging_specialty,DOMICILIARY,...,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension,lab_count,lab_freq,lab_age_mean,lab_age_std
0,200,4,17.90,2,0,0,0,4,3,0,...,0.0,0.0,0.0,68.0,21.0,0.0,222,12.33,77.161244,4.392966
1,291,7,79.68,2,0,3,1,3,2,0,...,0.0,0.0,0.0,0.0,57.0,0.0,291,72.75,82.348391,1.191165
2,330,3,17.38,1,0,1,1,2,2,0,...,0.0,0.0,4.0,16.0,0.0,0.0,147,7.74,66.364392,4.912354
3,351,3,22.14,1,0,3,1,2,2,0,...,0.0,0.0,0.0,0.0,81.0,0.0,62,62.00,84.806708,0.392140
4,960,1,22.71,1,0,0,0,1,1,0,...,0.0,0.0,11.0,0.0,0.0,0.0,55,9.17,58.226703,1.755580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,165904,8,35.08,3,0,1,1,4,4,0,...,0.0,0.0,0.0,60.0,26.0,0.0,265,18.93,75.450248,3.459116
398,166229,21,107.09,4,1,0,0,12,8,0,...,0.0,107.0,154.0,0.0,0.0,0.0,198,39.60,39.489984,1.432675
399,167102,3,10.25,1,0,0,0,3,1,0,...,0.0,0.0,0.0,55.0,0.0,0.0,172,21.50,65.819513,2.539545
400,167917,4,10.50,1,0,1,1,4,2,0,...,0.0,0.0,83.0,0.0,0.0,0.0,48,9.60,44.236412,1.515158
401,168008,9,25.07,3,0,0,0,4,4,0,...,0.0,0.0,0.0,207.0,0.0,0.0,166,33.20,72.045240,1.507175

In [28]:
df_2_all = df_2.drop(columns = ['next_readmission_time','Veteran flag' ,'Discharge date', 'State'])

In [29]:
#df_2_all.to_csv('/home/daisy/FDA_Dataset/inpatient_all_final_quality_admission_2.csv')

### Save CVD cause readmission inner join

In [30]:
df_CVD_2 = df_2.drop(columns = ['Veteran flag' ,'Discharge date', 'State'])
df_CVD_2 = df_CVD_2[df_CVD_2['next_readmission_time'] > 0] 
df_CVD_2 = df_CVD_2.drop(columns = ['next_readmission_time'])

In [31]:
#df_CVD_2.to_csv('/home/daisy/FDA_Dataset/inpatient_CVD_final_quality_admission_2.csv')