In [70]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [71]:
path = '/home/daisy/FDA_Dataset/demographics_static_clean.csv'
demographic_static = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/immunization_clean.csv'
immunization = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_medications_ordered_clean.csv'
medications_ordered = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_procedures_clean.csv'
procedures = pd.read_csv(path).iloc[:,1:]

In [72]:
path = '/home/vivi/FDA_datasets/inpatient_outpatient_visits_preprocessed.csv'
outpatient_visits = pd.read_csv(path).iloc[:,1:]

path ='/home/vivi/FDA_datasets/inpatient_specialty_preprocessed.csv'
inpatient_specialty = pd.read_csv(path).iloc[:,1:]

path ='/home/vivi/FDA_datasets/demographics_event_preprocessed.csv'
demographics_event = pd.read_csv(path).iloc[:,1:]
demographics_event = demographics_event.drop(columns = ['Age at update','State'])

path = '/home/vivi/FDA_datasets/outpatient_state.csv'
outpatient_state = pd.read_csv(path).iloc[:,1:]

path = '/home/vivi/FDA_datasets/inpatient_measurements_bp_preprocessed.csv'
measurements_bp = pd.read_csv(path).iloc[:,1:]

In [73]:
path = '/home/hassan/lily/MLA/FDA/inpatient_full_simple.csv'
inpatient = pd.read_csv(path).iloc[:,1:]

path = '/home/hassan/lily/MLA/FDA/inpatient_lab_results.csv'
lab_results = pd.read_csv(path).iloc[:,1:]
lab_results = lab_results.rename(columns = {'count':'lab_count', 'freq':'lab_freq', 
                              'age_mean':'lab_age_mean', 'age_std':'lab_age_std'})

In [74]:
df1 = inpatient.merge(procedures, how = 'left', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'left', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'left', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'left', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'left', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'left', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'left', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'left', on = 'Internalpatientid')

df = df8.merge(lab_results, how = 'left', on = 'Internalpatientid')

In [75]:
df.columns

Index(['Internalpatientid', 'num_stays', 'stay_length', 'num_unique_units',
       'num_transfers', 'num_cvd_admission', 'Died', 'AO', 'CVD',
       'unique_admitting_specialty', 'unique_discharging_specialty',
       'DOMICILIARY', 'MEDICINE', 'NHCU', 'NON-COUNT', 'OTHERS', 'PSYCHIATRY',
       'SURGERY', 'Age 20-40', 'Age 40-60', 'Age 60-80', 'Age 80-100',
       'Age 100-120', 'age_mean', 'age_std', 'age_min', 'age_max', 'stay_min',
       'stay_max', 'stay_mean', 'stay_std', 'freq', 'Medical', 'Mental',
       'Others_Specialty', 'Rehab', 'Gerontology', 'CVD_readmission',
       'next_readmission_time', 'Discharge date_x',
       'readmission within 300 days', 'total_procedure', 'num_surgery_pro',
       'Ethnicity', 'Gender', 'Races', 'Veteran flag', 'Ethnicity_0',
       'Ethnicity_1', 'Ethnicity_2', 'Races_0', 'Races_1', 'Races_2',
       'Races_3', 'num_immunization', 'Num med per admission mean',
       'Num med per admission min', 'Num med per admission max',
       'Total medications', 'mean age at specailty', 'specialty count',
       'period mean', 'period std', 'specialty medical count',
       'specialty support count', 'Event date', 'Marital status',
       'Ruca category', 'Marital status encoded', 'Ruca category encoded',
       'State', 'Discharge date_y', 'Age 20-40 hypotension',
       'Age 40-60 hypotension', 'Age 60-80 hypotension',
       'Age 80-100 hypotension', 'Age 100-120 hypotension',
       'Age 20-40 healthy', 'Age 40-60 healthy', 'Age 60-80 healthy',
       'Age 80-100 healthy', 'Age 100-120 healthy', 'Age 20-40 hypertension',
       'Age 40-60 hypertension', 'Age 60-80 hypertension',
       'Age 80-100 hypertension', 'Age 100-120 hypertension', 'lab_count',
       'lab_freq', 'lab_age_mean', 'lab_age_std'],
      dtype='object')

In [76]:
df1 = df.drop(columns = ['next_readmission_time','Discharge date_y', 'Discharge date_x',
                        'Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'Died','AO'])
len(df1.columns)

80

In [77]:
df1.to_csv('/home/daisy/FDA_Dataset/inpatient_all_final_1.csv')

## Inpatient Readmission caused by CVD left join:

In [78]:
df_CVD = df.drop(columns = ['Discharge date_y', 'Discharge date_x',
                        'Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'Died','AO'])
df_CVD = df_CVD[df_CVD['next_readmission_time'] > 0]
df_CVD = df_CVD.drop(columns = ['next_readmission_time'])

# CVD_readmission: readmitted beacuse of CVD
# next_readmission_time: time difference between this admission and next admission
df_CVD.to_csv('/home/daisy/FDA_Dataset/inpatient_CVD_final_1.csv')

In [79]:
len(df_CVD.columns)

80

In [80]:
df

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_admission,Died,AO,CVD,unique_admitting_specialty,...,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension,lab_count,lab_freq,lab_age_mean,lab_age_std
0,1,3,14.16,2,0,0,0,0,0,3,...,0.0,0.0,4.0,134.0,0.0,0.0,159.0,10.60,68.340586,3.105130
1,2,21,71.17,5,2,10,0,0,1,9,...,0.0,0.0,52.0,212.0,0.0,0.0,497.0,23.67,64.917227,3.982301
2,3,1,1.83,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,10.00,78.595827,0.234229
3,4,1,7.15,1,0,1,0,0,1,1,...,0.0,0.0,0.0,3.0,38.0,0.0,98.0,7.00,82.637824,2.862040
4,5,1,1.04,1,0,1,0,0,1,1,...,0.0,0.0,0.0,16.0,0.0,0.0,23.0,7.67,75.673279,0.783771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84531,169055,1,6.47,1,0,1,0,0,1,1,...,NaN,0.0,3.0,0.0,0.0,0.0,35.0,17.50,58.629968,0.503409
84532,169057,28,94.63,3,2,13,0,0,1,11,...,0.0,0.0,0.0,247.0,217.0,0.0,587.0,26.68,80.195538,4.555468
84533,169060,7,41.68,2,0,5,0,0,1,5,...,0.0,0.0,43.0,42.0,0.0,0.0,359.0,23.93,62.483905,5.565441
84534,169062,11,135.67,4,0,0,0,1,0,6,...,0.0,0.0,0.0,44.0,0.0,0.0,75.0,18.75,72.170051,1.402000
84535,169064,1,7.18,1,0,0,0,0,0,1,...,0.0,0.0,0.0,43.0,22.0,0.0,24.0,2.67,79.070914,2.961456

In [81]:
df[df.isna().any(axis=1)]

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_admission,Died,AO,CVD,unique_admitting_specialty,...,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension,lab_count,lab_freq,lab_age_mean,lab_age_std
2,3,1,1.83,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,10.00,78.595827,0.234229
3,4,1,7.15,1,0,1,0,0,1,1,...,0.0,0.0,0.0,3.0,38.0,0.0,98.0,7.00,82.637824,2.862040
4,5,1,1.04,1,0,1,0,0,1,1,...,0.0,0.0,0.0,16.0,0.0,0.0,23.0,7.67,75.673279,0.783771
6,10,1,0.33,1,0,0,0,1,0,1,...,0.0,0.0,0.0,5.0,0.0,0.0,22.0,11.00,64.932208,0.540302
8,13,3,4.31,1,0,1,0,0,1,1,...,0.0,0.0,0.0,111.0,0.0,0.0,56.0,14.00,74.146718,1.267092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84523,169036,4,22.08,1,0,1,0,0,1,2,...,0.0,0.0,111.0,0.0,0.0,0.0,37.0,37.00,42.707892,0.126030
84524,169040,3,10.10,2,0,0,0,0,0,3,...,0.0,0.0,0.0,69.0,139.0,0.0,140.0,7.37,81.891691,5.781837
84529,169051,1,2.38,1,0,0,0,0,0,1,...,0.0,0.0,51.0,0.0,0.0,0.0,27.0,5.40,46.138939,1.482353
84531,169055,1,6.47,1,0,1,0,0,1,1,...,NaN,0.0,3.0,0.0,0.0,0.0,35.0,17.50,58.629968,0.503409
84533,169060,7,41.68,2,0,5,0,0,1,5,...,0.0,0.0,43.0,42.0,0.0,0.0,359.0,23.93,62.483905,5.565441

Medication ordered table has 71686 patients whose orders are complete

Among these 71686 patients, only 62193 patients are inpatients

In [82]:
inpatient_pid = set(inpatient['Internalpatientid'])
medications_pid = set(medications_ordered['Internalpatientid'])
immunization_pid = set(immunization['Internalpatientid'])
procedures_pid = set(procedures['Internalpatientid'])
demographic_static_pid = set(demographic_static['Internalpatientid'])
inpatient_specialty_pid = set(inpatient_specialty['Internalpatientid'])
demographics_event_pid = set(demographics_event['Internalpatientid'])
outpatient_state_pid = set(outpatient_state['Internalpatientid'])
measurements_bp_pid =set(measurements_bp['Internalpatientid'])
lab_results_pid = set(lab_results['Internalpatientid'])

In [83]:
data_pid = [['inpatient_pid',len(list(inpatient_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_pid)))],
            ['medications_pid',len(list(medications_pid)),len(set.intersection(set(inpatient_pid) & set(medications_pid)))],
            ['immunization_pid',len(list(immunization_pid)),len(set.intersection(set(inpatient_pid) & set(immunization_pid)))],
            ['procedures_pid',len(list(procedures_pid)),len(set.intersection(set(inpatient_pid) & set(procedures_pid)))],
            ['demographic_static_pid',len(list(demographic_static_pid)),len(set.intersection(set(inpatient_pid) & set(demographic_static_pid)))],
            ['inpatient_specialty_pid',len(list(inpatient_specialty_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_specialty_pid)))],
            ['demographics_event_pid',len(list(demographics_event_pid)),len(set.intersection(set(inpatient_pid) & set(demographics_event_pid)))],
            ['outpatient_state_pid',len(list(outpatient_state_pid)),len(set.intersection(set(inpatient_pid) & set(outpatient_state_pid)))],
            ['measurements_bp_pid',len(list(measurements_bp_pid)),len(set.intersection(set(inpatient_pid) & set(measurements_bp_pid)))],
            ['lab_results_pid',len(list(lab_results_pid)),len(set.intersection(set(inpatient_pid) & set(lab_results_pid)))]]
df_pid = pd.DataFrame(data_pid, columns = ['table name', 'number of unique pid','intersection pid'])
df_pid

                table name  number of unique pid  intersection pid
0            inpatient_pid                 84536             84536
1          medications_pid                 55514             55514
2         immunization_pid                125159             80454
3           procedures_pid                 84455             84455
4   demographic_static_pid                133252             84536
5  inpatient_specialty_pid                 84400             84400
6   demographics_event_pid                133248             84536
7     outpatient_state_pid                133248             84536
8      measurements_bp_pid                 84536             84536
9          lab_results_pid                 84392             84392

Have test on the original data set.
The intersection is the same

For medication ordered table, only 71686 patients are medication completed

Only 62193 of 71686 patients are in hospital patients.

In [84]:
25803 / 84536

0.30523090754234883

In [85]:
df1 = inpatient.merge(procedures, how = 'inner', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'inner', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'inner', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'inner', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'inner', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'inner', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'inner', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'inner', on = 'Internalpatientid')

df_2 = df8.merge(lab_results, how = 'inner', on = 'Internalpatientid')
df_2

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_admission,Died,AO,CVD,unique_admitting_specialty,...,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension,lab_count,lab_freq,lab_age_mean,lab_age_std
0,1,3,14.16,2,0,0,0,0,0,3,...,0.0,0.0,4.0,134.0,0.0,0.0,159,10.60,68.340586,3.105130
1,2,21,71.17,5,2,10,0,0,1,9,...,0.0,0.0,52.0,212.0,0.0,0.0,497,23.67,64.917227,3.982301
2,8,1,21.35,1,0,0,0,0,0,1,...,0.0,0.0,3.0,17.0,0.0,0.0,28,2.55,66.173307,3.436646
3,11,8,270.62,4,0,0,0,0,0,5,...,0.0,0.0,20.0,23.0,0.0,0.0,317,28.82,60.945602,2.019659
4,16,10,53.98,2,1,2,0,0,1,7,...,0.0,0.0,0.0,18.0,0.0,0.0,293,22.54,76.239715,1.868434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53940,169050,2,6.53,1,0,0,0,0,0,2,...,0.0,0.0,22.0,0.0,0.0,0.0,112,28.00,55.856880,1.010040
53941,169053,11,135.08,3,0,3,1,0,1,5,...,0.0,0.0,0.0,67.0,64.0,0.0,453,56.62,79.177749,2.087995
53942,169057,28,94.63,3,2,13,0,0,1,11,...,0.0,0.0,0.0,247.0,217.0,0.0,587,26.68,80.195538,4.555468
53943,169062,11,135.67,4,0,0,0,1,0,6,...,0.0,0.0,0.0,44.0,0.0,0.0,75,18.75,72.170051,1.402000
53944,169064,1,7.18,1,0,0,0,0,0,1,...,0.0,0.0,0.0,43.0,22.0,0.0,24,2.67,79.070914,2.961456

In [86]:
df_2_all = df_2.drop(columns = ['next_readmission_time','Discharge date_y', 'Discharge date_x',
                        'Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'Died', 'AO'])

In [87]:
df_2_all.to_csv('/home/daisy/FDA_Dataset/inpatient_all_final_2.csv')

## Inpatient Readmission caused by CVD: inner join

In [88]:
df_CVD_2 = df_2.drop(columns = ['Discharge date_y', 'Discharge date_x',
                        'Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'Died', 'AO'])
df_CVD_2 = df_CVD_2[df_CVD_2['next_readmission_time'] > 0] 
df_CVD_2 = df_CVD_2.drop(columns = ['next_readmission_time'])

# CVD_readmission: readmitted beacuse of CVD
# next_readmission_time: time difference between this admission and next admission
df_CVD_2.to_csv('/home/daisy/FDA_Dataset/inpatient_CVD_final_2.csv')

In [89]:
df_CVD_2.columns

Index(['Internalpatientid', 'num_stays', 'stay_length', 'num_unique_units',
       'num_transfers', 'num_cvd_admission', 'CVD',
       'unique_admitting_specialty', 'unique_discharging_specialty',
       'DOMICILIARY', 'MEDICINE', 'NHCU', 'NON-COUNT', 'OTHERS', 'PSYCHIATRY',
       'SURGERY', 'Age 20-40', 'Age 40-60', 'Age 60-80', 'Age 80-100',
       'Age 100-120', 'age_mean', 'age_std', 'age_min', 'age_max', 'stay_min',
       'stay_max', 'stay_mean', 'stay_std', 'freq', 'Medical', 'Mental',
       'Others_Specialty', 'Rehab', 'Gerontology', 'CVD_readmission',
       'readmission within 300 days', 'total_procedure', 'num_surgery_pro',
       'Ethnicity', 'Gender', 'Races', 'Ethnicity_0', 'Ethnicity_1',
       'Ethnicity_2', 'Races_0', 'Races_1', 'Races_2', 'Races_3',
       'num_immunization', 'Num med per admission mean',
       'Num med per admission min', 'Num med per admission max',
       'Total medications', 'mean age at specailty', 'specialty count',
       'period mean', 'period std', 'specialty medical count',
       'specialty support count', 'Ruca category encoded',
       'Age 20-40 hypotension', 'Age 40-60 hypotension',
       'Age 60-80 hypotension', 'Age 80-100 hypotension',
       'Age 100-120 hypotension', 'Age 20-40 healthy', 'Age 40-60 healthy',
       'Age 60-80 healthy', 'Age 80-100 healthy', 'Age 100-120 healthy',
       'Age 20-40 hypertension', 'Age 40-60 hypertension',
       'Age 60-80 hypertension', 'Age 80-100 hypertension',
       'Age 100-120 hypertension', 'lab_count', 'lab_freq', 'lab_age_mean',
       'lab_age_std'],
      dtype='object')

In [90]:
df_CVD_2[df_CVD_2.isnull().any(axis=1)]

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_admission,CVD,unique_admitting_specialty,unique_discharging_specialty,DOMICILIARY,...,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension,lab_count,lab_freq,lab_age_mean,lab_age_std
14,52,3,7.53,1,0,0,0,1,1,0,...,0.0,0.0,16.0,0.0,0.0,0.0,39,7.80,49.909009,1.683195
48,171,1,27.70,1,1,0,0,1,1,0,...,0.0,0.0,0.0,68.0,0.0,0.0,30,10.00,70.821055,0.709328
79,302,1,6.05,1,0,0,0,1,1,0,...,0.0,0.0,8.0,37.0,0.0,0.0,66,8.25,59.535469,1.505382
155,521,3,6.81,1,1,0,0,2,3,0,...,0.0,0.0,0.0,57.0,0.0,0.0,62,7.75,72.924395,2.297489
164,543,1,8.18,1,0,1,1,1,1,0,...,0.0,0.0,31.0,0.0,0.0,0.0,12,2.00,57.518545,2.602578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53855,168787,2,3.06,2,0,0,0,2,1,0,...,NaN,0.0,0.0,2.0,0.0,0.0,12,12.00,62.247640,0.002303
53872,168831,1,3.04,1,1,1,1,1,1,0,...,0.0,0.0,34.0,0.0,0.0,0.0,16,1.60,50.213893,3.170838
53879,168847,1,2.05,1,0,0,0,1,1,0,...,0.0,0.0,11.0,22.0,0.0,0.0,11,1.57,58.794732,2.941944
53886,168888,1,8.97,1,0,0,0,1,1,0,...,NaN,0.0,0.0,38.0,0.0,0.0,24,24.00,73.482298,0.091148
53905,168939,2,1.92,1,0,0,0,1,1,0,...,0.0,0.0,12.0,10.0,0.0,0.0,18,2.57,58.945062,2.110250

In [91]:
df_2.columns.nunique()

91