In [1]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [2]:
path = '/home/daisy/FDA_Dataset/demographics_static_clean.csv'
demographic_static = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/immunization_clean.csv'
immunization = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_medications_ordered_clean.csv'
medications_ordered = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_procedures_clean.csv'
procedures = pd.read_csv(path).iloc[:,1:]

In [3]:
path = '/home/vivi/FDA_datasets/outpatient_visits_preprocessed.csv'
outpatient_visits = pd.read_csv(path).iloc[:,1:]

path ='/home/vivi/FDA_datasets/inpatient_specialty_preprocessed.csv'
inpatient_specialty = pd.read_csv(path).iloc[:,1:]

path ='/home/vivi/FDA_datasets/demographics_event_preprocessed.csv'
demographics_event = pd.read_csv(path).iloc[:,1:]
demographics_event = demographics_event.drop(columns = ['Age at update','State'])

path = '/home/vivi/FDA_datasets/outpatient_state.csv'
outpatient_state = pd.read_csv(path).iloc[:,1:]

path = '/home/vivi/FDA_datasets/measurements_bp_preprocessed.csv'
measurements_bp = pd.read_csv(path).iloc[:,1:]

In [4]:
path = '/home/hassan/lily/MLA/FDA/inpatient_full.csv'
inpatient = pd.read_csv(path).iloc[:,1:]

path = '/home/hassan/lily/MLA/FDA/lab_results_features.csv'
lab_results = pd.read_csv(path).iloc[:,1:]
lab_results = lab_results.rename(columns = {'count':'lab_count', 'freq':'lab_freq', 
                              'age_mean':'lab_age_mean', 'age_std':'lab_age_std'})

In [5]:
df1 = inpatient.merge(procedures, how = 'left', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'left', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'left', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'left', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'left', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'left', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'left', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'left', on = 'Internalpatientid')

df = df8.merge(lab_results, how = 'left', on = 'Internalpatientid')

In [21]:
#df.to_csv('/home/daisy/FDA_Dataset/inpatient_all_final_1.csv')

In [7]:
demographic_static.head()

,Internalpatientid,Ethnicity,Gender,Races,Veteran flag,Ethnicity_0,Ethnicity_1,Ethnicity_2,Races_0,Races_1,Races_2,Races_3
0,1,1,1,0,Yes,0,1,0,1,0,0,0
1,2,1,1,2,Yes,0,1,0,0,0,1,0
2,3,2,1,1,Yes,0,0,1,0,1,0,0
3,4,0,1,1,Yes,1,0,0,0,1,0,0
4,5,1,1,0,Yes,0,1,0,1,0,0,0

In [8]:
immunization.head()

   Internalpatientid  num_immunization
0                  1                 6
1              60754                 0
2                  2                 6
3                  3                 1
4                  4                 2

In [9]:
medications_ordered.head()

,Internalpatientid,Num med per admission mean,Num med per admission min,Num med per admission max,Total medications
0,1,1.666667,1,2,5
1,2,2.555556,1,5,46
2,5,4.000000,4,4,16
3,8,5.000000,5,5,25
4,11,6.250000,1,7,50

In [10]:
procedures.head()

   Internalpatientid  total_procedure  num_surgery_pro
0                  1           1452.0              7.0
1                  2           2406.0             14.0
2                  3            188.0              0.0
3                  4            583.0              0.0
4                  5            243.0              1.0

In [11]:
df.columns

Index(['Internalpatientid', 'num_stays', 'stay_length', 'num_unique_units',
       'num_transfers', 'num_cvd_readmission', 'Readmission', 'Died', 'AO',
       'CVD', 'unique_admitting_specialty', 'unique_discharging_specialty',
       'DOMICILIARY', 'MEDICINE', 'NHCU', 'NON-COUNT', 'OTHERS', 'PSYCHIATRY',
       'SURGERY', 'Age 20-40', 'Age 40-60', 'Age 60-80', 'Age 80-100',
       'Age 100-120', 'age_mean', 'age_std', 'age_min', 'age_max', 'stay_min',
       'stay_max', 'stay_mean', 'stay_std', 'freq', 'total_procedure',
       'num_surgery_pro', 'Ethnicity', 'Gender', 'Races', 'Veteran flag',
       'Ethnicity_0', 'Ethnicity_1', 'Ethnicity_2', 'Races_0', 'Races_1',
       'Races_2', 'Races_3', 'num_immunization', 'Num med per admission mean',
       'Num med per admission min', 'Num med per admission max',
       'Total medications', 'mean age at specailty', 'period mean',
       'period std', 'specialty medical count', 'specialty support count',
       'specialty count', 'Event date', 'Marital status', 'Ruca category',
       'Marital status encoded', 'Ruca category encoded', 'State',
       'Age 20-40 hypotension', 'Age 40-60 hypotension',
       'Age 60-80 hypotension', 'Age 80-100 hypotension',
       'Age 100-120 hypotension', 'Age 20-40 hypertension',
       'Age 40-60 hypertension', 'Age 60-80 hypertension',
       'Age 80-100 hypertension', 'Age 100-120 hypertension',
       'Age 20-40 healthy', 'Age 40-60 healthy', 'Age 60-80 healthy',
       'Age 80-100 healthy', 'Age 100-120 healthy', 'lab_count', 'lab_freq',
       'lab_age_mean', 'lab_age_std'],
      dtype='object')

In [12]:
df

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_readmission,Readmission,Died,AO,CVD,...,Age 100-120 hypertension,Age 20-40 healthy,Age 40-60 healthy,Age 60-80 healthy,Age 80-100 healthy,Age 100-120 healthy,lab_count,lab_freq,lab_age_mean,lab_age_std
0,1,4,15.89,2,0,0,1,0,0,0,...,0.0,0.0,0.0,52.0,1.0,0.0,290.0,12.61,71.781910,5.241393
1,2,22,93.26,5,2,10,1,0,0,1,...,0.0,0.0,23.0,295.0,0.0,0.0,594.0,27.00,64.320608,4.681134
2,3,2,407.50,2,0,0,1,1,0,1,...,0.0,0.0,0.0,0.0,80.0,0.0,1028.0,205.60,80.993657,1.235837
3,4,1,7.15,1,0,0,0,0,0,1,...,0.0,0.0,0.0,3.0,14.0,0.0,98.0,7.00,81.888853,3.082417
4,5,2,8.45,2,0,0,1,1,0,1,...,0.0,0.0,0.0,10.0,0.0,0.0,70.0,23.33,75.972407,0.724535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84531,169055,1,6.47,1,0,0,0,0,0,1,...,0.0,0.0,0.0,25.0,0.0,0.0,177.0,14.75,64.458474,3.397283
84532,169057,29,98.36,3,2,13,1,0,0,1,...,0.0,0.0,0.0,109.0,242.0,0.0,602.0,27.36,80.257552,4.578173
84533,169060,8,45.38,2,0,5,1,0,0,1,...,0.0,0.0,4.0,75.0,0.0,0.0,399.0,26.60,63.895637,6.083409
84534,169062,12,178.63,4,1,0,1,1,1,0,...,0.0,0.0,0.0,69.0,0.0,0.0,96.0,24.00,72.572363,1.481540
84535,169064,1,7.18,1,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,27.0,0.0,44.0,2.93,81.663940,3.768916

In [13]:
df[df.isna().any(axis=1)]

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_readmission,Readmission,Died,AO,CVD,...,Age 100-120 hypertension,Age 20-40 healthy,Age 40-60 healthy,Age 60-80 healthy,Age 80-100 healthy,Age 100-120 healthy,lab_count,lab_freq,lab_age_mean,lab_age_std
2,3,2,407.50,2,0,0,1,1,0,1,...,0.0,0.0,0.0,0.0,80.0,0.0,1028.0,205.60,80.993657,1.235837
3,4,1,7.15,1,0,0,0,0,0,1,...,0.0,0.0,0.0,3.0,14.0,0.0,98.0,7.00,81.888853,3.082417
6,10,1,0.33,1,0,0,0,0,1,0,...,0.0,0.0,0.0,21.0,0.0,0.0,39.0,4.88,66.448542,2.200265
9,15,4,127.10,3,0,2,1,0,1,1,...,0.0,0.0,0.0,2.0,98.0,0.0,74.0,3.52,82.903898,4.043535
11,18,5,27.92,3,0,3,1,0,1,1,...,0.0,0.0,0.0,1.0,0.0,0.0,116.0,19.33,71.070712,0.992323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84522,169034,3,46.82,1,0,1,1,1,1,1,...,0.0,0.0,0.0,65.0,0.0,0.0,196.0,98.00,63.986049,0.439775
84523,169036,5,22.22,1,0,0,1,0,0,1,...,0.0,0.0,1.0,0.0,0.0,0.0,42.0,21.00,42.837615,0.303238
84524,169040,4,15.70,2,0,0,1,1,0,0,...,0.0,0.0,0.0,13.0,46.0,0.0,141.0,7.42,82.194453,5.520061
84531,169055,1,6.47,1,0,0,0,0,0,1,...,0.0,0.0,0.0,25.0,0.0,0.0,177.0,14.75,64.458474,3.397283
84533,169060,8,45.38,2,0,5,1,0,0,1,...,0.0,0.0,4.0,75.0,0.0,0.0,399.0,26.60,63.895637,6.083409

Medication ordered table has 71686 patients whose orders are complete

Among these 71686 patients, only 62193 patients are inpatients

In [14]:
inpatient_pid = set(inpatient['Internalpatientid'])
medications_pid = set(medications_ordered['Internalpatientid'])
immunization_pid = set(immunization['Internalpatientid'])
procedures_pid = set(procedures['Internalpatientid'])
demographic_static_pid = set(demographic_static['Internalpatientid'])
inpatient_specialty_pid = set(inpatient_specialty['Internalpatientid'])
demographics_event_pid = set(demographics_event['Internalpatientid'])
outpatient_state_pid = set(outpatient_state['Internalpatientid'])
measurements_bp_pid =set(measurements_bp['Internalpatientid'])
lab_results_pid = set(lab_results['Internalpatientid'])

In [15]:
data_pid = [['inpatient_pid',len(list(inpatient_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_pid)))],
            ['medications_pid',len(list(medications_pid)),len(set.intersection(set(inpatient_pid) & set(medications_pid)))],
            ['immunization_pid',len(list(immunization_pid)),len(set.intersection(set(inpatient_pid) & set(immunization_pid)))],
            ['procedures_pid',len(list(procedures_pid)),len(set.intersection(set(inpatient_pid) & set(procedures_pid)))],
            ['demographic_static_pid',len(list(demographic_static_pid)),len(set.intersection(set(inpatient_pid) & set(demographic_static_pid)))],
            ['inpatient_specialty_pid',len(list(inpatient_specialty_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_specialty_pid)))],
            ['demographics_event_pid',len(list(demographics_event_pid)),len(set.intersection(set(inpatient_pid) & set(demographics_event_pid)))],
            ['outpatient_state_pid',len(list(outpatient_state_pid)),len(set.intersection(set(inpatient_pid) & set(outpatient_state_pid)))],
            ['measurements_bp_pid',len(list(measurements_bp_pid)),len(set.intersection(set(inpatient_pid) & set(measurements_bp_pid)))],
            ['measurements_bp_pid',len(list(lab_results_pid)),len(set.intersection(set(inpatient_pid) & set(lab_results_pid)))]]
df_pid = pd.DataFrame(data_pid, columns = ['table name', 'number of unique pid','intersection pid'])
df_pid

                table name  number of unique pid  intersection pid
0            inpatient_pid                 84536             84536
1          medications_pid                 62193             62193
2         immunization_pid                125159             80454
3           procedures_pid                133246             84531
4   demographic_static_pid                133252             84536
5  inpatient_specialty_pid                 84541             84534
6   demographics_event_pid                133248             84536
7     outpatient_state_pid                133248             84536
8      measurements_bp_pid                133248             84536
9      measurements_bp_pid                130445             84503

Have test on the original data set.
The intersection is the same

For medication ordered table, only 71686 patients are medication completed

Only 62193 of 71686 patients are in hospital patients.

In [16]:
25803 / 84536

0.30523090754234883

In [17]:
df1 = inpatient.merge(procedures, how = 'inner', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'inner', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'inner', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'inner', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'inner', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'inner', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'inner', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'inner', on = 'Internalpatientid')

df_2 = df8.merge(lab_results, how = 'inner', on = 'Internalpatientid')
df_2

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_readmission,Readmission,Died,AO,CVD,...,Age 100-120 hypertension,Age 20-40 healthy,Age 40-60 healthy,Age 60-80 healthy,Age 80-100 healthy,Age 100-120 healthy,lab_count,lab_freq,lab_age_mean,lab_age_std
0,1,4,15.89,2,0,0,1,0,0,0,...,0.0,0.0,0.0,52.0,1.0,0.0,290,12.61,71.781910,5.241393
1,2,22,93.26,5,2,10,1,0,0,1,...,0.0,0.0,23.0,295.0,0.0,0.0,594,27.00,64.320608,4.681134
2,5,2,8.45,2,0,0,1,1,0,1,...,0.0,0.0,0.0,10.0,0.0,0.0,70,23.33,75.972407,0.724535
3,8,1,21.35,1,0,0,0,0,0,0,...,0.0,0.0,0.0,52.0,0.0,0.0,29,2.64,66.270959,3.511747
4,11,9,279.28,4,0,0,1,0,0,0,...,0.0,0.0,49.0,96.0,0.0,0.0,452,19.65,65.517653,5.862103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60384,169051,2,6.58,1,0,0,1,0,0,1,...,0.0,0.0,26.0,0.0,0.0,0.0,53,5.89,47.676116,2.252315
60385,169053,12,135.47,3,0,2,1,1,0,1,...,0.0,0.0,0.0,115.0,115.0,0.0,456,57.00,79.607835,1.907363
60386,169057,29,98.36,3,2,13,1,0,0,1,...,0.0,0.0,0.0,109.0,242.0,0.0,602,27.36,80.257552,4.578173
60387,169062,12,178.63,4,1,0,1,1,1,0,...,0.0,0.0,0.0,69.0,0.0,0.0,96,24.00,72.572363,1.481540
60388,169064,1,7.18,1,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,27.0,0.0,44,2.93,81.663940,3.768916

In [22]:
#df_2.to_csv('/home/daisy/FDA_Dataset/inpatient_all_final_2.csv')

In [19]:
df_2[df_2.isnull().any(axis=1)]

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_readmission,Readmission,Died,AO,CVD,...,Age 100-120 hypertension,Age 20-40 healthy,Age 40-60 healthy,Age 60-80 healthy,Age 80-100 healthy,Age 100-120 healthy,lab_count,lab_freq,lab_age_mean,lab_age_std
12,35,2,3.00,1,0,1,1,0,0,1,...,0.0,0.0,2.0,4.0,0.0,0.0,37,2.85,61.520310,3.544615
41,119,4,25.54,2,2,0,1,0,0,0,...,0.0,0.0,0.0,0.0,39.0,0.0,80,16.00,95.489509,0.781722
93,285,1,0.56,1,0,0,0,0,0,0,...,0.0,0.0,2.0,0.0,0.0,0.0,60,2.73,53.039361,6.364676
98,302,2,10.39,1,0,0,1,0,0,0,...,0.0,0.0,1.0,8.0,0.0,0.0,237,13.94,62.215884,3.564054
106,335,3,4.73,1,0,1,1,0,0,1,...,0.0,0.0,1.0,39.0,0.0,0.0,81,9.00,63.973497,1.969709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60022,168014,3,24.91,2,0,0,1,0,0,0,...,0.0,0.0,0.0,9.0,12.0,0.0,48,4.00,78.426200,3.219376
60052,168113,4,10.44,3,0,0,1,0,0,1,...,0.0,10.0,46.0,0.0,0.0,0.0,154,6.70,45.031147,6.315421
60161,168423,3,13.08,2,0,0,1,0,0,1,...,0.0,0.0,0.0,0.0,18.0,0.0,89,12.71,82.854673,1.813968
60202,168514,5,173.60,3,1,0,1,0,0,1,...,0.0,0.0,0.0,0.0,33.0,0.0,97,24.25,83.579917,0.913926
60330,168902,32,123.30,5,1,16,1,1,1,1,...,0.0,0.0,241.0,0.0,0.0,0.0,678,52.15,52.198679,3.902984

In [20]:
df2.isna().sum()

Internalpatientid               0
num_stays                       0
stay_length                     0
num_unique_units                0
num_transfers                   0
num_cvd_readmission             0
Readmission                     0
Died                            0
AO                              0
CVD                             0
unique_admitting_specialty      0
unique_discharging_specialty    0
DOMICILIARY                     0
MEDICINE                        0
NHCU                            0
NON-COUNT                       0
OTHERS                          0
PSYCHIATRY                      0
SURGERY                         0
Age 20-40                       0
Age 40-60                       0
Age 60-80                       0
Age 80-100                      0
Age 100-120                     0
age_mean                        0
age_std                         0
age_min                         0
age_max                         0
stay_min                        0
stay_max                        0
stay_mean                       0
stay_std                        0
freq                            0
total_procedure                 0
num_surgery_pro                 0
Ethnicity                       0
Gender                          0
Races                           0
Veteran flag                    0
Ethnicity_0                     0
Ethnicity_1                     0
Ethnicity_2                     0
Races_0                         0
Races_1                         0
Races_2                         0
Races_3                         0
dtype: int64