In [20]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [21]:
path = '/home/daisy/FDA_Dataset/demographics_static_test_clean.csv'
demographic_static = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/immunization_test_clean.csv'
immunization = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_medications_ordered_test_clean.csv'
medications_ordered = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/procedures_test_clean.csv'
procedures = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/measurements_admission_test.csv'
measurements = pd.read_csv(path).iloc[:,1:]

In [22]:
path = '/home/vivi/FDA_datasets/inpatient_outpatient_visits_preprocessed_test.csv'
outpatient_visits = pd.read_csv(path).iloc[:,1:]

path ='/home/vivi/FDA_datasets/inpatient_specialty_preprocessed_test.csv'
inpatient_specialty = pd.read_csv(path).iloc[:,1:]

path ='/home/vivi/FDA_datasets/demographics_event_test.csv'
demographics_event = pd.read_csv(path).iloc[:,1:]
demographics_event = demographics_event.drop(columns = ['Age at update','State'])

path = '/home/vivi/FDA_datasets/outpatient_state_test.csv'
outpatient_state = pd.read_csv(path).iloc[:,1:]

path = '/home/vivi/FDA_datasets/inpatient_measurements_bp_test.csv'
measurements_bp = pd.read_csv(path).iloc[:,1:]

In [23]:
path = '/home/hassan/lily/MLA/FDA/inpatient_simple_test.csv'
inpatient = pd.read_csv(path).iloc[:,1:]

path = '/home/hassan/lily/MLA/FDA/inpatient_lab_results_test.csv'
lab_results = pd.read_csv(path).iloc[:,1:]
lab_results = lab_results.rename(columns = {'count':'lab_count', 'freq':'lab_freq', 
                              'age_mean':'lab_age_mean', 'age_std':'lab_age_std'})

In [24]:
df1 = inpatient.merge(procedures, how = 'left', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'left', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'left', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'left', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'left', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'left', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'left', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'left', on = 'Internalpatientid')

df9 = df8.merge(lab_results, how = 'left', on = 'Internalpatientid')
df = df9.merge(measurements, how = 'left', on = 'Internalpatientid')

In [25]:
df

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_admission,Died,AO,CVD,unique_admitting_specialty,...,lab_count,lab_freq,lab_age_mean,lab_age_std,Height,Weight,Pulse oximetry min,Pulse oximetry max,Pulse oximetry mean,Pulse oximetry std
0,7,5,44.40,3,0,0,0,1,0,4,...,296.0,18.50,59.955437,3.317207,70.038319,198.452157,90.0,104.0,97.831933,3.430470
1,9,4,10.70,2,0,0,0,0,0,3,...,NaN,NaN,NaN,NaN,65.111111,245.541256,NaN,NaN,NaN,NaN
2,12,5,21.54,1,0,4,0,1,1,2,...,68.0,13.60,71.872495,1.223830,73.830592,173.395117,90.0,101.0,95.800000,3.938415
3,17,12,46.45,2,0,5,0,0,1,4,...,22.0,5.50,80.694200,0.895575,67.763677,172.964936,74.0,105.0,97.523810,6.217870
4,22,2,4.53,2,1,0,0,0,0,2,...,NaN,NaN,NaN,NaN,72.511143,198.266426,86.0,104.0,96.071429,4.999451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22250,168995,2,1.79,2,0,0,0,0,0,2,...,13.0,2.17,62.371638,2.081103,69.223547,223.695468,83.0,99.0,92.727273,4.084603
22251,169011,1,0.79,1,0,0,0,1,0,1,...,4.0,1.33,59.590275,1.051347,72.750000,240.797337,NaN,NaN,NaN,NaN
22252,169037,2,12.76,2,0,0,0,0,0,1,...,15.0,1.15,80.249383,3.981989,65.400000,170.826176,90.0,103.0,96.860000,3.670122
22253,169059,1,8.91,1,0,0,0,0,0,1,...,3.0,3.00,79.777175,0.140376,60.948718,168.921613,NaN,NaN,NaN,NaN
22254,169065,13,90.34,4,0,0,0,0,0,6,...,26.0,1.86,46.153426,4.604091,71.947368,158.746101,86.0,104.0,94.674419,3.424623

In [26]:
inpatient_pid = set(inpatient['Internalpatientid'])
medications_pid = set(medications_ordered['Internalpatientid'])
immunization_pid = set(immunization['Internalpatientid'])
procedures_pid = set(procedures['Internalpatientid'])
demographic_static_pid = set(demographic_static['Internalpatientid'])
inpatient_specialty_pid = set(inpatient_specialty['Internalpatientid'])
demographics_event_pid = set(demographics_event['Internalpatientid'])
outpatient_state_pid = set(outpatient_state['Internalpatientid'])
measurements_bp_pid =set(measurements_bp['Internalpatientid'])
lab_results_pid = set(lab_results['Internalpatientid'])
measurements_pid = set(measurements['Internalpatientid'])

In [27]:
data_pid = [['inpatient_pid',len(list(inpatient_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_pid)))],
            ['medications_pid',len(list(medications_pid)),len(set.intersection(set(inpatient_pid) & set(medications_pid)))],
            ['immunization_pid',len(list(immunization_pid)),len(set.intersection(set(inpatient_pid) & set(immunization_pid)))],
            ['procedures_pid',len(list(procedures_pid)),len(set.intersection(set(inpatient_pid) & set(procedures_pid)))],
            ['demographic_static_pid',len(list(demographic_static_pid)),len(set.intersection(set(inpatient_pid) & set(demographic_static_pid)))],
            ['inpatient_specialty_pid',len(list(inpatient_specialty_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_specialty_pid)))],
            ['demographics_event_pid',len(list(demographics_event_pid)),len(set.intersection(set(inpatient_pid) & set(demographics_event_pid)))],
            ['outpatient_state_pid',len(list(outpatient_state_pid)),len(set.intersection(set(inpatient_pid) & set(outpatient_state_pid)))],
            ['measurements_bp_pid',len(list(measurements_bp_pid)),len(set.intersection(set(inpatient_pid) & set(measurements_bp_pid)))],
            ['lab_results_pid',len(list(lab_results_pid)),len(set.intersection(set(inpatient_pid) & set(lab_results_pid)))],
            ['measurements_pid',len(list(measurements_pid)),len(set.intersection(set(inpatient_pid) & set(measurements_pid)))]]
df_pid = pd.DataFrame(data_pid, columns = ['table name', 'number of unique pid','intersection pid'])
df_pid['percentage'] = df_pid['intersection pid'] / df_pid['number of unique pid'][0] 
df_pid

,table name,number of unique pid,intersection pid,percentage
0,inpatient_pid,22255,22255,1.000000
1,medications_pid,14698,14698,0.660436
2,immunization_pid,32784,21245,0.954617
3,procedures_pid,17150,17150,0.770613
4,demographic_static_pid,34768,22232,0.998967
5,inpatient_specialty_pid,22253,22252,0.999865
6,demographics_event_pid,34809,22253,0.999910
7,outpatient_state_pid,34809,22253,0.999910
8,measurements_bp_pid,22255,22255,1.000000
9,lab_results_pid,15982,15982,0.718131
10,measurements_pid,22255,22255,1.000000

In [28]:
# Save inpatient data combine other tables (left join)
df1_all = df.drop(columns = ['next_readmission_time',
                        'Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'Died', 'AO','Discharge date'])

In [29]:
df1_all.to_csv('/home/daisy/FDA_Dataset/inpatient_all_final_test_1.csv')

In [30]:
len(df1_all.columns)

86

In [31]:
# Save inpatient combine other test sets for CVD readmission and mortality
df_CVD = df.drop(columns = ['Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'Died', 'AO', 'Discharge date'])
df_CVD = df_CVD[df_CVD['next_readmission_time'] > 0]
df_CVD = df_CVD.drop(columns = ['next_readmission_time'])

# CVD_readmission: readmitted beacuse of CVD
# next_readmission_time: time difference between this admission and next admission
df_CVD.to_csv('/home/daisy/FDA_Dataset/inpatient_CVD_final_test_1.csv')

In [32]:
df1 = inpatient.merge(procedures, how = 'inner', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'inner', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'inner', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'inner', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'inner', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'inner', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'inner', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'inner', on = 'Internalpatientid')

df9 = df8.merge(lab_results, how = 'inner', on = 'Internalpatientid')
df_2 = df9.merge(measurements, how = 'inner', on = 'Internalpatientid')

In [33]:
# Save inpatient data for all cause with inner join
df_2_all = df_2.drop(columns = ['next_readmission_time','Event date','Marital status', 
                                'Marital status encoded','State','Ruca category',
                                'Veteran flag', 'Died', 'AO','Discharge date'])

In [34]:
df_2_all.to_csv('/home/daisy/FDA_Dataset/inpatient_all_final_test_2.csv')

In [35]:

df_CVD_2 = df_2.drop(columns = ['Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'Died', 'AO','Discharge date'])
df_CVD_2 = df_CVD_2[df_CVD_2['next_readmission_time'] > 0] 
df_CVD_2 = df_CVD_2.drop(columns = ['next_readmission_time'])

# CVD_readmission: readmitted beacuse of CVD
# next_readmission_time: time difference between this admission and next admission
df_CVD_2.to_csv('/home/daisy/FDA_Dataset/inpatient_CVD_final_test_2.csv')