In [5]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [ ]:
#path = '/home/hassan/lily/MLA/FDA/inpatient_admission_withtarget.csv'
inpatient = pd.read_csv(path).iloc[:,1:]
inpatient.head()

In [2]:
path = '/data/public/MLA/VCHAMPS-Test/medications_ordered_test.csv'
medications = pd.read_csv(path).iloc[:,1:]
medications.head()

,Internalpatientid,Age at med ordered,Order date,Medication start date,Medication stop date,Order discontinue date,Ordered medication atc 5,Order status,Stop reason,State
0,100,54.451524,2016-03-11 00:45:56.0,2016-03-11 10:57:56.0,2016-12-25 00:40:56.0,2016-12-25 00:40:56.0,hydrogen peroxide,discontinued,Requesting Physician Cancelled,New York
1,100,54.741514,2016-06-25 00:33:25.0,2016-06-24 09:39:25.0,2016-07-09 01:15:25.0,2016-07-09 01:15:25.0,guaifenesin,discontinued,Obsolete Order,New York
2,100,54.827014,2016-07-26 06:33:56.0,NaN,2016-12-26 05:34:56.0,2016-12-26 05:34:56.0,dextromethorphan ; guaifenesin,discontinued,Requesting Physician Cancelled,New York
3,100,55.089929,2016-10-30 08:51:18.0,2016-10-30 08:54:18.0,2016-10-31 09:36:18.0,2016-10-31 09:36:18.0,riluzole,discontinued,Requesting Physician Cancelled,New York
4,100,55.090329,2016-10-30 12:22:12.0,2016-10-30 12:22:12.0,2016-10-30 21:39:12.0,NaN,potassium chloride,expired,Not specified (no value),New York

In [3]:
medications['Order date'] = pd.to_datetime(medications['Order date'])
medications['Medication start date'] = pd.to_datetime(medications['Medication start date'])
medications['Medication stop date'] = pd.to_datetime(medications['Medication stop date'])
medications.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15661661 entries, 0 to 15661660
Data columns (total 10 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Internalpatientid         int64
 1   Age at med ordered        float64
 2   Order date                datetime64[ns]
 3   Medication start date     datetime64[ns]
 4   Medication stop date      datetime64[ns]
 5   Order discontinue date    object
 6   Ordered medication atc 5  object
 7   Order status              object
 8   Stop reason               object
 9   State                     object
dtypes: datetime64[ns](3), float64(1), int64(1), object(5)
memory usage: 1.2+ GB

In [4]:
medication_complete = medications.loc[medications['Order status'] == 'complete']
medication_complete = medication_complete.groupby('Internalpatientid').apply(lambda x:x).sort_values(by = ['Internalpatientid','Order date'],ascending=True).reset_index(drop = True)
medication_complete

/tmp/ipykernel_83603/2219256273.py:2: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  medication_complete = medication_complete.groupby('Internalpatientid').apply(lambda x:x).sort_values(by = ['Internalpatientid','Order date'],ascending=True).reset_index(drop = True)

,Internalpatientid,Age at med ordered,Order date,Medication start date,Medication stop date,Order discontinue date,Ordered medication atc 5,Order status,Stop reason,State
0,6,79.393879,2006-01-29 11:06:34,NaT,2006-01-29 11:06:34,NaN,moxifloxacin,complete,Not specified (no value),Texas
1,6,80.342664,2007-01-11 05:50:47,NaT,2007-01-11 05:50:47,NaN,furosemide,complete,Not specified (no value),Texas
2,6,80.342664,2007-01-11 05:50:47,NaT,2007-01-11 05:50:47,NaN,lisinopril,complete,Not specified (no value),Texas
3,6,81.338677,2008-01-10 06:52:20,NaT,2008-01-10 06:57:20,NaN,azithromycin,complete,Not specified (no value),Texas
4,6,81.338677,2008-01-10 06:52:20,NaT,2008-01-10 06:57:20,NaN,guaifenesin,complete,Not specified (no value),Texas
...,...,...,...,...,...,...,...,...,...,...
268118,169065,53.266147,2011-05-22 18:38:35,2011-05-22 20:34:35,2011-05-23 11:49:35,NaN,aluminium hydroxide,complete,Not specified (no value),Arizona
268119,169065,53.268471,2011-05-23 15:01:45,2011-05-24 10:34:45,2011-05-26 03:34:45,NaN,diltiazem,complete,Not specified (no value),Arizona
268120,169065,53.282232,2011-05-28 15:44:17,2011-05-29 10:44:17,2011-05-30 15:46:17,NaN,vancomycin,complete,Not specified (no value),Arizona
268121,169065,53.293074,2011-06-01 14:50:31,NaT,2011-06-01 14:53:31,NaN,heparin,complete,Not specified (no value),Arizona
268122,169065,53.316444,2011-06-10 03:50:39,2011-06-10 10:26:39,2011-06-11 18:56:39,NaN,salbutamol,complete,Not specified (no value),Arizona

In [ ]:
inpatient_date = inpatient[['Internalpatientid','Age at admission','Admitting specialty',
                             'Admission date','Discharge date','Died during admission', 'Readmission']]
inpatient_date = inpatient_date.groupby('Internalpatientid').apply(lambda x:x).sort_values(by = ['Internalpatientid','Admission date'],ascending=True).reset_index(drop = True)
inpatient_date