In [16]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [17]:
# no date
path = '/home/daisy/FDA_Dataset/demographics_static_clean.csv'
demographic_static = pd.read_csv(path).iloc[:,1:]

# no date
path = '/home/daisy/FDA_Dataset/immunization_clean.csv'
immunization = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_medications_ordered_cvd_mortality.csv'
medications_ordered = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_procedures_clean_cvd_mortality.csv'
procedures = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/measurements_cvd_mortality_train.csv'
measurements = pd.read_csv(path).iloc[:,1:]

In [18]:
path = '/home/hassan/lily/MLA/FDA/outpatient_mortality.csv'
outpatient_visits = pd.read_csv(path).iloc[:,1:]

# no date
path ='/home/vivi/FDA_datasets/inpatient_specialty_preprocessed.csv'
inpatient_specialty = pd.read_csv(path).iloc[:,1:]

# no date
path ='/home/vivi/FDA_datasets/demographics_event_preprocessed.csv'
demographics_event = pd.read_csv(path).iloc[:,1:]
demographics_event = demographics_event.drop(columns = ['Age at update','State'])

# no date
path = '/home/vivi/FDA_datasets/outpatient_state.csv'
outpatient_state = pd.read_csv(path).iloc[:,1:]

path = '/home/vivi/FDA_datasets/measurements_bp_cvd_mortality.csv'
measurements_bp = pd.read_csv(path).iloc[:,1:]

In [19]:
path = '/home/hassan/lily/MLA/FDA/inpatient_cvd_mortality.csv'
inpatient = pd.read_csv(path).iloc[:,1:]

path = '/home/hassan/lily/MLA/FDA/lab_results_features.csv'
lab_results = pd.read_csv(path).iloc[:,1:]
lab_results = lab_results.rename(columns = {'count':'lab_count', 'freq':'lab_freq', 
                              'age_mean':'lab_age_mean', 'age_std':'lab_age_std'})

In [20]:
df1 = inpatient.merge(procedures, how = 'left', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'left', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'left', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'left', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'left', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'left', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'left', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'left', on = 'Internalpatientid')

df9 = df8.merge(lab_results, how = 'left', on = 'Internalpatientid')
df = df9.merge(measurements, how = 'left', on = 'Internalpatientid')

In [21]:
df

,Internalpatientid,num_stays,stay_length,num_cvd_admission,CVD,Age 20-40,Age 40-60,Age 60-80,Age 80-100,Age 100-120,...,lab_count,lab_freq,lab_age_mean,lab_age_std,Height,Weight,Pulse oximetry min,Pulse oximetry max,Pulse oximetry mean,Pulse oximetry std
0,3,2,407.50,1,1,0,0,1,1,0,...,1028.0,205.60,80.993657,1.235837,66.500000,NaN,NaN,NaN,NaN,NaN
1,4,6,9.24,1,1,0,0,0,6,0,...,98.0,7.00,81.888853,3.082417,65.583333,180.149734,89.0,105.0,97.537037,3.864268
2,5,2,8.45,1,1,0,0,2,0,0,...,70.0,23.33,75.972407,0.724535,70.238095,230.920161,89.0,98.0,93.500000,6.363961
3,10,3,0.60,0,0,0,0,3,0,0,...,39.0,4.88,66.448542,2.200265,69.071429,289.214783,88.0,94.0,91.571429,1.988981
4,15,6,127.57,4,1,0,0,1,5,0,...,74.0,3.52,82.903898,4.043535,72.500000,188.701377,73.0,103.0,93.952381,4.317142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63537,169053,35,142.68,3,1,0,0,17,18,0,...,456.0,57.00,79.607835,1.907363,71.470588,166.630058,85.0,105.0,96.126943,3.728716
63538,169055,1,6.47,1,1,0,1,0,0,0,...,177.0,14.75,64.458474,3.397283,73.400000,NaN,NaN,NaN,NaN,NaN
63539,169060,13,47.94,9,1,0,3,10,0,0,...,399.0,26.60,63.895637,6.083409,68.916667,176.288196,88.0,103.0,96.243697,3.543833
63540,169062,12,178.63,0,0,0,0,12,0,0,...,96.0,24.00,72.572363,1.481540,73.157895,134.263541,88.0,88.0,88.000000,NaN
63541,169064,2,7.20,0,0,0,0,0,2,0,...,44.0,2.93,81.663940,3.768916,68.542328,262.146318,84.0,98.0,91.338235,3.294547

In [22]:
df.columns

Index(['Internalpatientid', 'num_stays', 'stay_length', 'num_cvd_admission',
       'CVD', 'Age 20-40', 'Age 40-60', 'Age 60-80', 'Age 80-100',
       'Age 100-120', 'age_mean', 'age_std', 'age_min', 'age_max', 'stay_min',
       'stay_max', 'stay_mean', 'stay_std', 'freq', 'died_by_cvd',
       'Age at death_x', 'Death date', 'num_unique_units', 'num_transfers',
       'unique_admitting_specialty', 'unique_discharging_specialty',
       'DOMICILIARY', 'MEDICINE', 'NHCU', 'NON-COUNT', 'OTHERS', 'PSYCHIATRY',
       'SURGERY', 'Medical', 'Mental', 'Others_Specialty', 'Rehab',
       'Gerontology', 'total_procedure', 'num_surgery_pro', 'Ethnicity',
       'Gender', 'Races', 'Veteran flag', 'Ethnicity_0', 'Ethnicity_1',
       'Ethnicity_2', 'Races_0', 'Races_1', 'Races_2', 'Races_3',
       'num_immunization', 'Num med per admission mean',
       'Num med per admission min', 'Num med per admission max',
       'Total medications', 'mean age at specailty', 'specialty count',
       'period mean', 'period std', 'specialty medical count',
       'specialty support count', 'Event date', 'Marital status',
       'Ruca category', 'Marital status encoded', 'Ruca category encoded',
       'State', 'Age 20-40 hypotension', 'Age 40-60 hypotension',
       'Age 60-80 hypotension', 'Age 80-100 hypotension',
       'Age 100-120 hypotension', 'Age 20-40 healthy', 'Age 40-60 healthy',
       'Age 60-80 healthy', 'Age 80-100 healthy', 'Age 100-120 healthy',
       'Age 20-40 hypertension', 'Age 40-60 hypertension',
       'Age 60-80 hypertension', 'Age 80-100 hypertension',
       'Age 100-120 hypertension', 'lab_count', 'lab_freq', 'lab_age_mean',
       'lab_age_std', 'Height', 'Weight', 'Pulse oximetry min',
       'Pulse oximetry max', 'Pulse oximetry mean', 'Pulse oximetry std'],
      dtype='object')

In [23]:
df1_all = df.drop(columns = ['Age at death_x','Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag','Death date'])
len(df1_all.columns)

85

In [24]:
df1_all.to_csv('/home/daisy/FDA_Dataset/final_cvd_mortality_train_1.csv')

## Inner join

In [25]:
df1 = inpatient.merge(procedures, how = 'inner', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'inner', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'inner', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'inner', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'inner', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'inner', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'inner', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'inner', on = 'Internalpatientid')

df9 = df8.merge(lab_results, how = 'inner', on = 'Internalpatientid')
df_2 = df9.merge(measurements, how = 'inner', on = 'Internalpatientid')

In [26]:
df_2_all = df_2.drop(columns = ['Age at death_x','Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag','Death date'])

In [27]:
df_2_all.to_csv('/home/daisy/FDA_Dataset/final_cvd_mortality_train_2.csv')