In [12]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [13]:
# no date
path = '/home/daisy/FDA_Dataset/demographics_static_clean.csv'
demographic_static = pd.read_csv(path).iloc[:,1:]

# no date
path = '/home/daisy/FDA_Dataset/immunization_clean.csv'
immunization = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_medications_ordered_allcause_mortality.csv'
medications_ordered = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_procedures_clean_allcause_mortality.csv'
procedures = pd.read_csv(path).iloc[:,1:]

In [14]:
# path = '/home/hassan/lily/MLA/FDA/outpatient_mortality.csv'
# outpatient_visits = pd.read_csv(path).iloc[:,1:]

path ='/home/vivi/FDA_datasets/inpatient_specialty_allcause_mortality.csv'
inpatient_specialty = pd.read_csv(path).iloc[:,1:]

# no date
path ='/home/vivi/FDA_datasets/demographics_event_preprocessed.csv'
demographics_event = pd.read_csv(path).iloc[:,1:]
demographics_event = demographics_event.drop(columns = ['Age at update','State'])

# no date
path = '/home/vivi/FDA_datasets/outpatient_state.csv'
outpatient_state = pd.read_csv(path).iloc[:,1:]

path = '/home/vivi/FDA_datasets/measurements_bp_allcause_mortality.csv'
measurements_bp = pd.read_csv(path).iloc[:,1:]

In [15]:
path = '/home/hassan/lily/MLA/FDA/outpatient_mortality.csv'
inpatient = pd.read_csv(path).iloc[:,1:]

path = '/home/hassan/lily/MLA/FDA/lab_results_allcause_mortality.csv'
lab_results = pd.read_csv(path).iloc[:,1:]
lab_results = lab_results.rename(columns = {'count':'lab_count', 'freq':'lab_freq', 
                              'age_mean':'lab_age_mean', 'age_std':'lab_age_std'})

In [16]:
df1 = inpatient.merge(procedures, how = 'left', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'left', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'left', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'left', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'left', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'left', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'left', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'left', on = 'Internalpatientid')

df = df8.merge(lab_results, how = 'left', on = 'Internalpatientid')

In [17]:
df

,Internalpatientid,num_visits,CVD,last_visit_date_x,Age 00-20,Age 20-40,Age 40-60,Age 60-80,Age 80-100,Age 100-120,...,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension,lab_count,lab_freq,lab_age_mean,lab_age_std
0,1,1483,1,2024-07-02 21:13:18,0,0,26,1440,17,0,...,0.0,0.0,4.0,177.0,0.0,0.0,290.0,12.61,71.979178,4.747024
1,2,2149,1,2024-04-05 03:30:10,0,0,269,1880,0,0,...,0.0,0.0,52.0,232.0,0.0,0.0,594.0,27.00,65.370390,3.971646
2,3,156,0,2005-10-11 09:10:49,0,0,0,87,69,0,...,0.0,0.0,0.0,9.0,178.0,0.0,1027.0,205.40,81.599486,0.560039
3,4,336,1,2015-02-24 04:43:51,0,0,0,47,289,0,...,0.0,0.0,0.0,3.0,38.0,0.0,98.0,7.00,82.637824,2.862040
4,5,124,0,2004-11-04 14:48:32,0,0,0,124,0,0,...,0.0,0.0,0.0,23.0,0.0,0.0,65.0,21.67,76.087584,0.687725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133232,169060,1223,1,2017-09-26 11:10:08,0,0,231,992,0,0,...,0.0,0.0,43.0,45.0,0.0,0.0,399.0,26.60,63.398442,5.916780
133233,169061,119,1,2024-01-29 12:14:06,0,0,0,104,15,0,...,0.0,0.0,0.0,7.0,0.0,0.0,12.0,0.92,75.083324,4.292555
133234,169062,345,0,2005-10-04 20:08:10,0,0,0,345,0,0,...,0.0,0.0,0.0,84.0,0.0,0.0,96.0,24.00,72.544153,1.468975
133235,169063,133,0,2006-02-04 23:24:49,0,0,0,133,0,0,...,0.0,0.0,0.0,5.0,0.0,0.0,13.0,2.60,73.734348,1.268574
133236,169064,433,0,2014-11-25 21:23:12,0,0,0,109,324,0,...,0.0,0.0,0.0,43.0,49.0,0.0,44.0,2.93,81.809302,4.028551

In [7]:
df.columns

Index(['Internalpatientid', 'num_visits', 'CVD', 'last_visit_date_x',
       'Age 00-20', 'Age 20-40', 'Age 40-60', 'Age 60-80', 'Age 80-100',
       'Age 100-120', 'age_mean', 'age_std', 'freq', 'Died', 'away_from_death',
       'died_within_125days', 'total_procedure', 'num_surgery_pro',
       'Ethnicity', 'Gender', 'Races', 'Veteran flag', 'Ethnicity_0',
       'Ethnicity_1', 'Ethnicity_2', 'Races_0', 'Races_1', 'Races_2',
       'Races_3', 'num_immunization', 'Num med per admission mean',
       'Num med per admission min', 'Num med per admission max',
       'Total medications', 'mean age at specailty', 'specialty count',
       'period mean', 'period std', 'specialty medical count',
       'specialty support count', 'Event date', 'Marital status',
       'Ruca category', 'Marital status encoded', 'Ruca category encoded',
       'State', 'last_visit_date_y', 'Age 20-40 hypotension',
       'Age 40-60 hypotension', 'Age 60-80 hypotension',
       'Age 80-100 hypotension', 'Age 100-120 hypotension',
       'Age 20-40 healthy', 'Age 40-60 healthy', 'Age 60-80 healthy',
       'Age 80-100 healthy', 'Age 100-120 healthy', 'Age 20-40 hypertension',
       'Age 40-60 hypertension', 'Age 60-80 hypertension',
       'Age 80-100 hypertension', 'Age 100-120 hypertension', 'lab_count',
       'lab_freq', 'lab_age_mean', 'lab_age_std'],
      dtype='object')

In [18]:
df1 = df.drop(columns = ['Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'Died','away_from_death', 'last_visit_date_x', 'last_visit_date_y'])
len(df1.columns)

56

In [19]:
df1.to_csv('/home/daisy/FDA_Dataset/final_allcause_mortality_train_1.csv')

## Inner join

In [20]:
df1 = inpatient.merge(procedures, how = 'inner', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'inner', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'inner', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'inner', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'inner', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'inner', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'inner', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'inner', on = 'Internalpatientid')

df_2 = df8.merge(lab_results, how = 'inner', on = 'Internalpatientid')
df_2

,Internalpatientid,num_visits,CVD,last_visit_date_x,Age 00-20,Age 20-40,Age 40-60,Age 60-80,Age 80-100,Age 100-120,...,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension,lab_count,lab_freq,lab_age_mean,lab_age_std
0,1,1483,1,2024-07-02 21:13:18,0,0,26,1440,17,0,...,0.0,0.0,4.0,177.0,0.0,0.0,290,12.61,71.979178,4.747024
1,2,2149,1,2024-04-05 03:30:10,0,0,269,1880,0,0,...,0.0,0.0,52.0,232.0,0.0,0.0,594,27.00,65.370390,3.971646
2,8,387,1,2022-10-27 00:45:17,0,0,4,383,0,0,...,0.0,0.0,3.0,19.0,0.0,0.0,29,2.64,66.396480,3.359046
3,11,2279,1,2020-01-31 02:44:40,0,0,686,1593,0,0,...,0.0,0.0,20.0,124.0,0.0,0.0,452,19.65,64.609474,5.527343
4,13,1015,0,2023-01-13 00:37:48,0,0,0,1015,0,0,...,0.0,0.0,0.0,136.0,0.0,0.0,86,14.33,75.004228,1.568173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58228,169051,357,0,2007-07-29 18:41:04,0,0,357,0,0,0,...,0.0,0.0,118.0,0.0,0.0,0.0,53,5.89,48.027198,2.265512
58229,169053,1105,1,2014-02-17 06:35:04,0,0,0,584,521,0,...,0.0,0.0,0.0,67.0,64.0,0.0,453,56.62,79.177749,2.087995
58230,169057,6766,1,2025-06-20 01:21:43,0,0,0,2655,4111,0,...,0.0,0.0,0.0,247.0,218.0,0.0,602,27.36,80.319664,4.580680
58231,169062,345,0,2005-10-04 20:08:10,0,0,0,345,0,0,...,0.0,0.0,0.0,84.0,0.0,0.0,96,24.00,72.544153,1.468975
58232,169064,433,0,2014-11-25 21:23:12,0,0,0,109,324,0,...,0.0,0.0,0.0,43.0,49.0,0.0,44,2.93,81.809302,4.028551

In [22]:
df_2_all = df_2.drop(columns = ['Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'Died', 'last_visit_date_x', 'last_visit_date_y',
       'away_from_death'])

In [ ]:
df_2_all.to_csv('/home/daisy/FDA_Dataset/final_allcause_mortality_train_2.csv')