In [24]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns
from importlib import reload
import matplotlib.pyplot as plt
import preprocess_data 

reload(preprocess_data)

%matplotlib inline

In [25]:
measurements_blood_pressure = pd.read_csv('/home/bhatti/dataset/VCHAMPS/measurements_blood_pressure_train.csv').iloc[:,1:]

In [26]:
bins = [0, 90, 100, 130, 140, 200]
diastolic_bins = pd.crosstab(measurements_blood_pressure['Internalpatientid'], pd.cut(measurements_blood_pressure['Diastolic bp'], bins)).reset_index()

In [27]:
pd.cut(measurements_blood_pressure['Diastolic bp'],bins)[0]

Interval(0, 90, closed='right')

In [28]:
pd.Interval(1, 90, closed='right')

Interval(1, 90, closed='right')

In [29]:
diastolic_mean = measurements_blood_pressure.groupby('Internalpatientid')['Diastolic bp'].mean().reset_index()
diastolic_std = measurements_blood_pressure.groupby('Internalpatientid')['Diastolic bp'].std(ddof=0).reset_index()

In [30]:
systolic_mean = measurements_blood_pressure.groupby('Internalpatientid')['Systolic bp'].mean().reset_index()
systolic_std = measurements_blood_pressure.groupby('Internalpatientid')['Systolic bp'].std(ddof=0).reset_index()
bins = [0, 50, 60, 80, 90, 100, 300]
systolic_bins = pd.crosstab(measurements_blood_pressure['Internalpatientid'], pd.cut(measurements_blood_pressure['Systolic bp'], bins)).reset_index()

In [31]:
age_mean = measurements_blood_pressure.groupby('Internalpatientid')['Age at measurement bp'].mean().reset_index()

In [32]:
diastolic_bins = diastolic_bins.rename(columns={pd.Interval(0, 90, closed='right'): '(0,90]_diastolic',
                                                pd.Interval(90, 100, closed='right'): '(90,100]_diastolic',
                                                pd.Interval(100, 130, closed='right'): '(100,130]_diastolic',
                                                pd.Interval(130, 140, closed='right'): '(130,140]_diastolic',
                                                pd.Interval(140, 200, closed='right'): '(140,200]_diastolic'})
systolic_bins = systolic_bins.rename(columns={pd.Interval(0, 50, closed='right'): '(0,50]_systolic',
                                              pd.Interval(50, 60, closed='right'): '(50,60]_systolic',
                                              pd.Interval(60, 80, closed='right'): '(60,80]_systolic',
                                              pd.Interval(80, 90, closed='right'): '(80,90]_systolic',
                                              pd.Interval(90, 100, closed='right'): '(90,100]_systolic',
                                             
                                              pd.Interval(100, 300, closed='right'): '(100,300]_systolic'})

In [33]:
systolic_bins

Systolic bp,Internalpatientid,"(0,50]_systolic","(50,60]_systolic","(60,80]_systolic","(80,90]_systolic","(90,100]_systolic","(100,300]_systolic"
0,1,0,0,0,1,6,241
1,2,0,0,1,6,61,680
2,3,0,0,1,0,15,342
3,4,0,0,4,4,9,69
4,5,0,0,0,2,1,42
...,...,...,...,...,...,...,...
132205,169060,0,0,0,4,22,190
132206,169061,0,0,1,2,6,13
132207,169062,0,0,0,10,20,158
132208,169063,0,0,0,1,1,12
132209,169064,0,0,1,5,11,143

In [34]:
diastolic_mean = diastolic_mean.rename(columns={'Diastolic bp': 'diastolic mean'})
diastolic_std = diastolic_std.rename(columns={'Diastolic bp': 'diastolic std'})
systolic_mean = systolic_mean.rename(columns={'Systolic bp': 'systolic mean'})
systolic_std = systolic_std.rename(columns={'Systolic bp': 'systolic std'})

In [35]:
systolic_std

        Internalpatientid  systolic std
0                       1     16.771885
1                       2     19.737801
2                       3     15.850411
3                       4     23.606610
4                       5     18.627923
...                   ...           ...
132205             169060     19.695581
132206             169061     21.208382
132207             169062     18.202096
132208             169063     24.597266
132209             169064     20.500970

[132210 rows x 2 columns]

In [36]:
age_mean = age_mean.rename(columns={'Age at measurement bp': 'mean age at measurement bp'})

In [37]:
listTables = [diastolic_mean, diastolic_std, diastolic_bins,systolic_mean,systolic_std,systolic_bins]
measurements_bp_preprocessed = age_mean.copy()
for i in listTables:
    measurements_bp_preprocessed = measurements_bp_preprocessed.merge(i,how = 'left', on = 'Internalpatientid')

In [38]:
measurements_bp_preprocessed

,Internalpatientid,mean age at measurement bp,diastolic mean,diastolic std,"(0,90]_diastolic","(90,100]_diastolic","(100,130]_diastolic","(130,140]_diastolic","(140,200]_diastolic",systolic mean,systolic std,"(0,50]_systolic","(50,60]_systolic","(60,80]_systolic","(80,90]_systolic","(90,100]_systolic","(100,300]_systolic"
0,1,70.862416,82.629491,10.128670,197,43,8,0,0,137.832878,16.771885,0,0,0,1,6,241
1,2,65.754263,70.932157,9.821785,731,14,3,0,0,123.909792,19.737801,0,0,1,6,61,680
2,3,81.608892,65.053073,10.297528,353,2,3,0,0,129.913408,15.850411,0,0,1,0,15,342
3,4,82.307933,66.116279,12.600682,84,2,0,0,0,124.534884,23.606610,0,0,4,4,9,69
4,5,75.951072,66.022222,12.324301,44,1,0,0,0,125.977778,18.627923,0,0,0,2,1,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132205,169060,66.857634,72.962963,13.642883,189,19,8,0,0,123.694444,19.695581,0,0,0,4,22,190
132206,169061,74.858901,62.954545,10.772344,21,1,0,0,0,112.500000,21.208382,0,0,1,2,6,13
132207,169062,73.656343,76.579787,11.828518,159,25,4,0,0,119.909574,18.202096,0,0,0,10,20,158
132208,169063,74.507857,68.642857,11.787446,14,0,0,0,0,125.214286,24.597266,0,0,0,1,1,12
132209,169064,81.093132,65.418721,10.098006,159,1,0,0,0,129.655766,20.500970,0,0,1,5,11,143

In [39]:
measurements_bp_preprocessed.to_csv('/home/vivi/FDA_datasets/measurements_bp_preprocessed.csv')

In [40]:
pd.isnull(measurements_bp_preprocessed).sum()

Internalpatientid             0
mean age at measurement bp    0
diastolic mean                0
diastolic std                 0
(0,90]_diastolic              0
(90,100]_diastolic            0
(100,130]_diastolic           0
(130,140]_diastolic           0
(140,200]_diastolic           0
systolic mean                 0
systolic std                  0
(0,50]_systolic               0
(50,60]_systolic              0
(60,80]_systolic              0
(80,90]_systolic              0
(90,100]_systolic             0
(100,300]_systolic            0
dtype: int64

In [41]:
measurements_bp_preprocessed[pd.isnull(measurements_bp_preprocessed['(0,50]_systolic'])]

Empty DataFrame
Columns: [Internalpatientid, mean age at measurement bp, diastolic mean, diastolic std, (0,90]_diastolic, (90,100]_diastolic, (100,130]_diastolic, (130,140]_diastolic, (140,200]_diastolic, systolic mean, systolic std, (0,50]_systolic, (50,60]_systolic, (60,80]_systolic, (80,90]_systolic, (90,100]_systolic, (100,300]_systolic]
Index: []

In [42]:
measurements_blood_pressure[measurements_blood_pressure['Internalpatientid'] == 55919]

,Internalpatientid,Age at measurement bp,Measurement date,Diastolic bp,Systolic bp,State
13214140,55919,74.035039,1999-01-10 19:21:28.0,105.0,220.0,Pennsylvania