In [120]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns
from importlib import reload
import matplotlib.pyplot as plt
import preprocess_data 

reload(preprocess_data)

%matplotlib inline

In [121]:
measurements_blood_pressure = pd.read_csv('/home/bhatti/dataset/VCHAMPS/measurements_blood_pressure_train.csv').iloc[:,1:]

In [122]:
diastolic_bins

Diastolic bp,Internalpatientid,"(0,90]_diastolic","(90,100]_diastolic","(100,130]_diastolic","(130,140]_diastolic","(140,200]_diastolic"
0,1,197,43,8,0,0
1,2,731,14,3,0,0
2,3,353,2,3,0,0
3,4,84,2,0,0,0
4,5,44,1,0,0,0
...,...,...,...,...,...,...
132205,169060,189,19,8,0,0
132206,169061,21,1,0,0,0
132207,169062,159,25,4,0,0
132208,169063,14,0,0,0,0
132209,169064,159,1,0,0,0

In [123]:
bins = [0, 90, 100, 130, 140, 200]
diastolic_bins = pd.crosstab(measurements_blood_pressure['Internalpatientid'], pd.cut(measurements_blood_pressure['Diastolic bp'], bins)).reset_index()

In [124]:
pd.cut(measurements_blood_pressure['Diastolic bp'],bins)[0]

Interval(0, 90, closed='right')

In [125]:
pd.Interval(1, 90, closed='right')

Interval(1, 90, closed='right')

In [126]:
diastolic_mean = measurements_blood_pressure.groupby('Internalpatientid')['Diastolic bp'].mean().reset_index()
diastolic_std = measurements_blood_pressure.groupby('Internalpatientid')['Diastolic bp'].std().reset_index()

In [127]:
systolic_mean = measurements_blood_pressure.groupby('Internalpatientid')['Systolic bp'].mean().reset_index()
systolic_std = measurements_blood_pressure.groupby('Internalpatientid')['Systolic bp'].std().reset_index()
bins = [0, 50, 60, 80, 90, 100,200]
systolic_bins = pd.crosstab(measurements_blood_pressure['Internalpatientid'], pd.cut(measurements_blood_pressure['Systolic bp'], bins)).reset_index()

In [128]:
age_mean = measurements_blood_pressure.groupby('Internalpatientid')['Age at measurement bp'].mean().reset_index()

In [129]:
diastolic_bins = diastolic_bins.rename(columns={pd.Interval(0, 90, closed='right'): '(0,90]_diastolic',
                                                pd.Interval(90, 100, closed='right'): '(90,100]_diastolic',
                                                pd.Interval(100, 130, closed='right'): '(100,130]_diastolic',
                                                pd.Interval(130, 140, closed='right'): '(130,140]_diastolic',
                                                pd.Interval(140, 200, closed='right'): '(140,200]_diastolic'})
systolic_bins = systolic_bins.rename(columns={pd.Interval(0, 50, closed='right'): '(0,50]_systolic',
                                              pd.Interval(50, 60, closed='right'): '(50,60]_systolic',
                                              pd.Interval(60, 80, closed='right'): '(60,80]_systolic',
                                              pd.Interval(80, 90, closed='right'): '(80,90]_systolic',
                                              pd.Interval(90, 100, closed='right'): '(90,100]_systolic',
                                              pd.Interval(100, 150, closed='right'): '(100,150]_systolic'})

In [130]:
diastolic_mean = diastolic_mean.rename(columns={'Diastolic bp': 'diastolic mean'})
diastolic_std = diastolic_std.rename(columns={'Diastolic bp': 'diastolic std'})
systolic_mean = systolic_mean.rename(columns={'Systolic bp': 'systolic mean'})
systolic_std = systolic_std.rename(columns={'Systolic bp': 'systolic std'})

In [131]:
systolic_std

        Internalpatientid  systolic std
0                       1     16.805802
1                       2     19.751008
2                       3     15.872595
3                       4     23.745066
4                       5     18.838414
...                   ...           ...
132205             169060     19.741331
132206             169061     21.707471
132207             169062     18.250700
132208             169063     25.525790
132209             169064     20.565338

[132210 rows x 2 columns]

In [132]:
listTables = [diastolic_mean, diastolic_std, diastolic_bins,systolic_mean,systolic_std,systolic_bins]
measurements_bp_preprocessed = age_mean.copy()
for i in listTables:
    measurements_bp_preprocessed = measurements_bp_preprocessed.merge(i,how = 'left', on = 'Internalpatientid')

In [133]:
age_mean

        Internalpatientid  Age at measurement bp
0                       1              70.862416
1                       2              65.754263
2                       3              81.608892
3                       4              82.307933
4                       5              75.951072
...                   ...                    ...
132205             169060              66.857634
132206             169061              74.858901
132207             169062              73.656343
132208             169063              74.507857
132209             169064              81.093132

[132210 rows x 2 columns]

In [134]:
measurements_bp_preprocessed

,Internalpatientid,Age at measurement bp,diastolic mean,diastolic std,"(0,90]_diastolic","(90,100]_diastolic","(100,130]_diastolic","(130,140]_diastolic","(140,200]_diastolic",systolic mean,systolic std,"(0,50]_systolic","(50,60]_systolic","(60,80]_systolic","(80,90]_systolic","(90,100]_systolic","(100, 200]"
0,1,70.862416,82.629491,10.149153,197,43,8,0,0,137.832878,16.805802,0.0,0.0,0.0,1.0,6.0,241.0
1,2,65.754263,70.932157,9.828357,731,14,3,0,0,123.909792,19.751008,0.0,0.0,1.0,6.0,61.0,678.0
2,3,81.608892,65.053073,10.311940,353,2,3,0,0,129.913408,15.872595,0.0,0.0,1.0,0.0,15.0,342.0
3,4,82.307933,66.116279,12.674587,84,2,0,0,0,124.534884,23.745066,0.0,0.0,4.0,4.0,9.0,69.0
4,5,75.951072,66.022222,12.463563,44,1,0,0,0,125.977778,18.838414,0.0,0.0,0.0,2.0,1.0,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132205,169060,66.857634,72.962963,13.674574,189,19,8,0,0,123.694444,19.741331,0.0,0.0,0.0,4.0,22.0,190.0
132206,169061,74.858901,62.954545,11.025845,21,1,0,0,0,112.500000,21.707471,0.0,0.0,1.0,2.0,6.0,13.0
132207,169062,73.656343,76.579787,11.860103,159,25,4,0,0,119.909574,18.250700,0.0,0.0,0.0,10.0,20.0,158.0
132208,169063,74.507857,68.642857,12.232411,14,0,0,0,0,125.214286,25.525790,0.0,0.0,0.0,1.0,1.0,12.0
132209,169064,81.093132,65.418721,10.129711,159,1,0,0,0,129.655766,20.565338,0.0,0.0,1.0,5.0,11.0,143.0

In [137]:
measurements_bp_preprocessed.to_csv('/home/vivi/FDA_datasets/measurements_bp_preprocessed.csv')

In [136]:
197+43+8

248