In [1]:
import pandas as pd

import numpy as np
import pandas as pd

import seaborn as sns
from importlib import reload
import matplotlib.pyplot as plt
import preprocess_data 

reload(preprocess_data)

%matplotlib inline

In [2]:
path = '/home/hassan/lily/MLA/FDA/inpatient_simple_test.csv'
inpatient = pd.read_csv(path).iloc[:,1:]
inpatient.head()

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_readmission,Died,AO,CVD,unique_admitting_specialty,...,stay_std,freq,Medical,Mental,Others_Specialty,Rehab,Gerontology,next_readmission_time,Discharge date,readmission within 300 days
0,7,5,44.40,3,0,0,0,1,0,4,...,11.420188,0.50,2,1,0,2,0,338.72,2013-04-18 14:41:31.0,0
1,9,4,10.70,2,0,0,0,0,0,3,...,1.485003,4.00,0,0,0,4,0,2.03,2000-04-10 02:38:04.0,1
2,12,5,21.54,1,0,3,0,1,1,2,...,3.648043,1.25,5,0,0,0,0,69.25,2004-04-07 03:40:16.0,1
3,17,12,46.45,2,0,4,0,0,1,4,...,3.078313,3.00,0,1,0,11,0,61.89,2004-05-05 15:18:05.0,1
4,22,2,4.53,2,1,0,0,0,0,2,...,1.831407,0.17,0,0,0,2,0,0.42,2014-05-07 15:43:10.0,1

In [3]:
inpatient_date = inpatient[['Internalpatientid','Discharge date']]
inpatient_date

       Internalpatientid         Discharge date
0                      7  2013-04-18 14:41:31.0
1                      9  2000-04-10 02:38:04.0
2                     12  2004-04-07 03:40:16.0
3                     17  2004-05-05 15:18:05.0
4                     22  2014-05-07 15:43:10.0
...                  ...                    ...
22250             168995  2010-06-09 10:03:21.0
22251             169011  2004-07-15 15:11:27.0
22252             169037  2015-02-12 00:48:40.0
22253             169059  2003-03-11 12:21:08.0
22254             169065  2011-04-20 00:04:23.0

[22255 rows x 2 columns]

In [4]:
outpatient_visits = pd.read_csv('/data/public/MLA/VCHAMPS-Test/outpatient_visits_test.csv').iloc[:,1:]
outpatient_visits_drop = outpatient_visits.drop([ 'Combatflag', 'Ionizingradiationflag', 'Serviceconnectedflag', 'Swasiaconditionsflag'], axis=1)
outpatient_visits_drop['Visit start date'] = outpatient_visits_drop['Visit start date'].apply(preprocess_data.preprocess_time_string)

/tmp/ipykernel_223760/3792493804.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  outpatient_visits = pd.read_csv('/data/public/MLA/VCHAMPS-Test/outpatient_visits_test.csv').iloc[:,1:]

In [5]:
# Filter procedure date that's before discharge date
outpatient_merged = outpatient_visits_drop.merge(inpatient_date, how = 'left', on = 'Internalpatientid')
outpatient_merged = outpatient_merged.loc[outpatient_merged['Visit start date'] <= outpatient_merged['Discharge date']]
outpatient_merged

,Internalpatientid,Age at visit,Visit start date,First listed diagnosis icd10 subcategory,Second listed diagnosis icd10 subcategory,Stop code,Agentorangeflag,State,Discharge date
0,100,52.560034,2014-04-19 16:37:04,Not specified,Not specified,RESPIRATORY THERAPY,NaN,New York,2016-12-23 19:42:05.0
1,100,52.898575,2014-08-21 10:17:59,Not specified,Not specified,HBPC Nursing (RN / LP),NaN,New York,2016-12-23 19:42:05.0
2,100,53.184501,2014-12-03 22:26:25,Not specified,Not specified,ADMIN PAT ACTIVTIES (MASNONCT),NaN,New York,2016-12-23 19:42:05.0
3,100,54.002069,2015-09-28 18:09:01,Not specified,Not specified,OCCUPATIONAL THERAPY,NaN,New York,2016-12-23 19:42:05.0
4,100,54.337489,2016-01-29 08:27:08,Not specified,Not specified,TELEPHONE HBPC,NaN,New York,2016-12-23 19:42:05.0
...,...,...,...,...,...,...,...,...,...
21906619,99997,74.593907,2003-09-23 01:44:57,Not specified,Not specified,VASCULAR SURGERY,NaN,North Carolina,2006-03-21 09:39:18.0
21906620,99997,74.614542,2003-09-30 14:45:49,Not specified,Not specified,EKG,NaN,North Carolina,2006-03-21 09:39:18.0
21906621,99997,74.698237,2003-10-31 04:55:55,Not specified,Not specified,TELEPHONE/SURGERY,NaN,North Carolina,2006-03-21 09:39:18.0
21906622,99997,74.831580,2003-12-18 22:37:19,Not specified,Not specified,PRE-SURG EVAL BY NURSING,NaN,North Carolina,2006-03-21 09:39:18.0
21906623,99997,74.918954,2004-01-19 21:03:38,Not specified,Not specified,PLASTIC SURGERY,NaN,North Carolina,2006-03-21 09:39:18.0

In [6]:
outpatient_merged['Age 00-20'] = [0] * len(outpatient_merged)
outpatient_merged['Age 20-40'] = [0] * len(outpatient_merged)
outpatient_merged['Age 40-60'] = [0] * len(outpatient_merged)
outpatient_merged['Age 60-80'] = [0] * len(outpatient_merged)
outpatient_merged['Age 80-100'] = [0] * len(outpatient_merged)
outpatient_merged['Age 100-120'] = [0] * len(outpatient_merged)
def age_category(data):
    data.loc[(data['Age at visit'] <= 20), 'Age 00-20'] = 1
    data.loc[(data['Age at visit'] > 20) & (data['Age at visit'] <= 40), 'Age 20-40'] = 1
    data.loc[(data['Age at visit'] > 40) & (data['Age at visit'] <= 60), 'Age 40-60'] = 1
    data.loc[(data['Age at visit'] > 60) & (data['Age at visit'] <= 80), 'Age 60-80'] = 1
    data.loc[(data['Age at visit'] > 80) & (data['Age at visit'] <= 100), 'Age 80-100'] = 1
    data.loc[(data['Age at visit'] > 100) & (data['Age at visit'] <= 120), 'Age 100-120'] = 1
    return data
outpatient_merged = age_category(outpatient_merged)
outpatient_merged

,Internalpatientid,Age at visit,Visit start date,First listed diagnosis icd10 subcategory,Second listed diagnosis icd10 subcategory,Stop code,Agentorangeflag,State,Discharge date,Age 00-20,Age 20-40,Age 40-60,Age 60-80,Age 80-100,Age 100-120
0,100,52.560034,2014-04-19 16:37:04,Not specified,Not specified,RESPIRATORY THERAPY,NaN,New York,2016-12-23 19:42:05.0,0,0,1,0,0,0
1,100,52.898575,2014-08-21 10:17:59,Not specified,Not specified,HBPC Nursing (RN / LP),NaN,New York,2016-12-23 19:42:05.0,0,0,1,0,0,0
2,100,53.184501,2014-12-03 22:26:25,Not specified,Not specified,ADMIN PAT ACTIVTIES (MASNONCT),NaN,New York,2016-12-23 19:42:05.0,0,0,1,0,0,0
3,100,54.002069,2015-09-28 18:09:01,Not specified,Not specified,OCCUPATIONAL THERAPY,NaN,New York,2016-12-23 19:42:05.0,0,0,1,0,0,0
4,100,54.337489,2016-01-29 08:27:08,Not specified,Not specified,TELEPHONE HBPC,NaN,New York,2016-12-23 19:42:05.0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21906619,99997,74.593907,2003-09-23 01:44:57,Not specified,Not specified,VASCULAR SURGERY,NaN,North Carolina,2006-03-21 09:39:18.0,0,0,0,1,0,0
21906620,99997,74.614542,2003-09-30 14:45:49,Not specified,Not specified,EKG,NaN,North Carolina,2006-03-21 09:39:18.0,0,0,0,1,0,0
21906621,99997,74.698237,2003-10-31 04:55:55,Not specified,Not specified,TELEPHONE/SURGERY,NaN,North Carolina,2006-03-21 09:39:18.0,0,0,0,1,0,0
21906622,99997,74.831580,2003-12-18 22:37:19,Not specified,Not specified,PRE-SURG EVAL BY NURSING,NaN,North Carolina,2006-03-21 09:39:18.0,0,0,0,1,0,0
21906623,99997,74.918954,2004-01-19 21:03:38,Not specified,Not specified,PLASTIC SURGERY,NaN,North Carolina,2006-03-21 09:39:18.0,0,0,0,1,0,0

In [7]:
cardiovascular = ["Heart failure, unspecified", "Other heart failure",
                  "Cardiogenic shock", "Hypertensive heart disease with heart failure",
                  "Hypertensive heart and kidney disease with heart failure", "Unstable angina", "Other forms of chronic ischemic heart disease",
                  "Atherosclerotic heart disease of native coronary artery", "Atrial fibrillation", "Atrial flutter",
                  "Supraventricular tachycardia", "Ventricular tachycardia"]

In [8]:
outpatient_merged["CVD_outpatient"] = [0] * len(outpatient_merged)
def cd_diagnosis(data):
    data.loc[(data["Second listed diagnosis icd10 subcategory"].str.contains('|'.join(cardiovascular))
      | data["Second listed diagnosis icd10 subcategory"].str.contains("Systolic (congestive) heart failure", regex=False)
      | data["Second listed diagnosis icd10 subcategory"].str.contains("Diastolic (congestive) heart failure", regex=False)
      | data["Second listed diagnosis icd10 subcategory"].str.contains("Combined systolic (congestive) and diastolic (congestive) heart failure", regex=False)
      | data["Second listed diagnosis icd10 subcategory"].str.contains("ST elevation (STEMI) myocardial infarction", regex=False)
      | data["Second listed diagnosis icd10 subcategory"].str.contains("Non-ST elevation (NSTEMI) myocardial infarction", regex=False)
      | data["First listed diagnosis icd10 subcategory"].str.contains('|'.join(cardiovascular))
      | data["First listed diagnosis icd10 subcategory"].str.contains("Systolic (congestive) heart failure", regex=False)
      | data["First listed diagnosis icd10 subcategory"].str.contains("Diastolic (congestive) heart failure", regex=False)
      | data["First listed diagnosis icd10 subcategory"].str.contains("Combined systolic (congestive) and diastolic (congestive) heart failure", regex=False)
      | data["First listed diagnosis icd10 subcategory"].str.contains("ST elevation (STEMI) myocardial infarction", regex=False)
      | data["First listed diagnosis icd10 subcategory"].str.contains("Non-ST elevation (NSTEMI) myocardial infarction", regex=False)), "CVD_outpatient"] = 1
    return data
outpatient_merged = cd_diagnosis(outpatient_merged)
outpatient_merged

,Internalpatientid,Age at visit,Visit start date,First listed diagnosis icd10 subcategory,Second listed diagnosis icd10 subcategory,Stop code,Agentorangeflag,State,Discharge date,Age 00-20,Age 20-40,Age 40-60,Age 60-80,Age 80-100,Age 100-120,CVD_outpatient
0,100,52.560034,2014-04-19 16:37:04,Not specified,Not specified,RESPIRATORY THERAPY,NaN,New York,2016-12-23 19:42:05.0,0,0,1,0,0,0,0
1,100,52.898575,2014-08-21 10:17:59,Not specified,Not specified,HBPC Nursing (RN / LP),NaN,New York,2016-12-23 19:42:05.0,0,0,1,0,0,0,0
2,100,53.184501,2014-12-03 22:26:25,Not specified,Not specified,ADMIN PAT ACTIVTIES (MASNONCT),NaN,New York,2016-12-23 19:42:05.0,0,0,1,0,0,0,0
3,100,54.002069,2015-09-28 18:09:01,Not specified,Not specified,OCCUPATIONAL THERAPY,NaN,New York,2016-12-23 19:42:05.0,0,0,1,0,0,0,0
4,100,54.337489,2016-01-29 08:27:08,Not specified,Not specified,TELEPHONE HBPC,NaN,New York,2016-12-23 19:42:05.0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21906619,99997,74.593907,2003-09-23 01:44:57,Not specified,Not specified,VASCULAR SURGERY,NaN,North Carolina,2006-03-21 09:39:18.0,0,0,0,1,0,0,0
21906620,99997,74.614542,2003-09-30 14:45:49,Not specified,Not specified,EKG,NaN,North Carolina,2006-03-21 09:39:18.0,0,0,0,1,0,0,0
21906621,99997,74.698237,2003-10-31 04:55:55,Not specified,Not specified,TELEPHONE/SURGERY,NaN,North Carolina,2006-03-21 09:39:18.0,0,0,0,1,0,0,0
21906622,99997,74.831580,2003-12-18 22:37:19,Not specified,Not specified,PRE-SURG EVAL BY NURSING,NaN,North Carolina,2006-03-21 09:39:18.0,0,0,0,1,0,0,0
21906623,99997,74.918954,2004-01-19 21:03:38,Not specified,Not specified,PLASTIC SURGERY,NaN,North Carolina,2006-03-21 09:39:18.0,0,0,0,1,0,0,0

In [9]:
outpatient_merged = outpatient_merged.drop(['Agentorangeflag','Stop code','First listed diagnosis icd10 subcategory', 'Second listed diagnosis icd10 subcategory', 'Stop code'], axis=1)

In [ ]:
outpatient_merged.to_csv("/home/vivi/FDA_datasets/inpatient_outpatient_visits_preprocessed_test.csv")