In [1]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns
from importlib import reload
import matplotlib.pyplot as plt
import preprocess_data 

reload(preprocess_data)

%matplotlib inline

In [2]:
outpatient_visits = pd.read_csv('/data/public/MLA/VCHAMPS-Test/outpatient_visits_test.csv').iloc[:,1:]
outpatient_state = outpatient_visits[['Internalpatientid', 'State']]
outpatient_state = outpatient_state[outpatient_state['State'] != 'Not specified']

/tmp/ipykernel_226271/2712354990.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  outpatient_visits = pd.read_csv('/data/public/MLA/VCHAMPS-Test/outpatient_visits_test.csv').iloc[:,1:]

In [3]:
outpatient_state = outpatient_state.groupby('Internalpatientid').agg(lambda x: x.value_counts().index[0]).reset_index()

In [4]:
outpatient_state

       Internalpatientid      State
0                      6      Texas
1                      7   Nebraska
2                      9      Texas
3                     12   Colorado
4                     17   Maryland
...                  ...        ...
34804             169037   Illinois
34805             169045  Minnesota
34806             169058   Missouri
34807             169059    Arizona
34808             169065    Arizona

[34809 rows x 2 columns]

In [4]:
outpatient_state.to_csv('/home/vivi/FDA_datasets/outpatient_state_test.csv')