Generate a dataset with patient and related state.

In [1]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns
from importlib import reload
import matplotlib.pyplot as plt
import preprocess_data 

reload(preprocess_data)

%matplotlib inline

In [2]:
outpatient_visits = pd.read_csv('/home/bhatti/dataset/VCHAMPS/outpatient_visits_train.csv').iloc[:,1:]

In [3]:
outpatient_visits['State'].unique()

array(['Indiana', 'Utah', 'Florida', 'West Virginia', 'Maryland',
       'Pennsylvania', 'Ohio', 'North Carolina', 'Louisiana', 'Arizona',
       'Connecticut', 'Oklahoma', 'Delaware', 'Michigan', 'Rhode Island',
       'Massachusetts', 'New Jersey', 'Nebraska', 'California',
       'Missouri', 'Texas', 'District of Columbia', 'Washington', 'Idaho',
       'New York', 'Kentucky', 'South Carolina', 'Georgia', 'Virginia',
       'Mississippi', 'Oregon', 'Arkansas', 'Alabama', 'Tennessee',
       'North Dakota', 'Minnesota', 'Wisconsin', 'Illinois', 'Vermont',
       'Nevada', 'Wyoming', 'Puerto Rico', 'Colorado', 'Montana',
       'New Mexico', 'Hawaii', 'Not specified', 'South Dakota', 'Alaska',
       'Maine', 'New Hampshire'], dtype=object)

In [14]:
outpatient_visits[outpatient_visits['Internalpatientid'] == 7687][outpatient_visits['State'] == 'Not specified']

/tmp/ipykernel_9744/2079485804.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  outpatient_visits[outpatient_visits['Internalpatientid'] == 7687][outpatient_visits['State'] == 'Not specified']

,Internalpatientid,Age at visit,Visit start date,First listed diagnosis icd10 subcategory,Second listed diagnosis icd10 subcategory,Stop code,Agentorangeflag,Combatflag,Ionizingradiationflag,Serviceconnectedflag,Swasiaconditionsflag,State
55282453,7687,51.339646,1999-09-15 15:22:24.0,Not specified,Not specified,LABORATORY,NaN,NaN,NaN,NaN,NaN,Not specified
55282454,7687,52.048764,2000-05-31 19:45:40.0,Not specified,Not specified,TELEPHONE/ANCILLARY,NaN,NaN,NaN,Yes,NaN,Not specified
55282455,7687,52.139821,2000-07-04 02:30:24.0,Not specified,Not specified,CLINICAL PHARMACY,NaN,NaN,NaN,NaN,NaN,Not specified
55282456,7687,52.349461,2000-09-18 17:28:22.0,Not specified,Not specified,LABORATORY,NaN,NaN,NaN,NaN,NaN,Not specified
55282457,7687,52.349506,2000-09-18 17:51:48.0,Not specified,Not specified,PRIMARY CARE/MEDICINE,NaN,NaN,NaN,Yes,NaN,Not specified
...,...,...,...,...,...,...,...,...,...,...,...,...
77580990,7687,55.277909,2003-08-25 01:49:02.0,Not specified,Not specified,NURSING (2ND ONLY),NaN,NaN,NaN,Yes,NaN,Not specified
77580991,7687,55.278481,2003-08-25 06:50:21.0,Not specified,Not specified,PRIMARY CARE/MEDICINE,NaN,NaN,NaN,Yes,NaN,Not specified
77580992,7687,55.278588,2003-08-25 07:46:30.0,Not specified,Not specified,NURSING (2ND ONLY),NaN,NaN,NaN,Yes,NaN,Not specified
77580993,7687,55.278974,2003-08-25 11:09:28.0,Not specified,Not specified,PRIMARY CARE/MEDICINE,NaN,NaN,NaN,NaN,NaN,Not specified
77580994,7687,55.414713,2003-10-14 01:51:43.0,Not specified,Not specified,PRIMARY CARE/MEDICINE,NaN,NaN,NaN,NaN,NaN,Not specified

In [6]:
internalpatientid  = outpatient_visits['Internalpatientid'].unique()

133252 unique patients, in case of processing run out of time, we slice it into groups.
133252 =

In [3]:
outpaitent_state = outpatient_visits[['Internalpatientid', 'State']]

In [7]:
outpaitent_state = outpaitent_state[outpaitent_state['State'] != 'Not specified']

In [9]:
len(states)

1532

In [14]:
outpaitent_state = outpaitent_state.groupby('Internalpatientid').agg(lambda x: x.value_counts().index[0]).reset_index()

In [15]:
outpaitent_state.to_csv('/home/vivi/FDA_datasets/outpaitent_state.csv')

In [16]:
outpaitent_state['Internalpatientid']

133248

In [20]:
demographics_event= pd.read_csv('/home/bhatti/dataset/VCHAMPS/demographics_event_train.csv').iloc[:,1:]

In [21]:
df = pd.merge(outpaitent_state, demographics_event, on=['Internalpatientid'], how="outer", indicator=True)

In [23]:
df = df[df['_merge'] == 'right_only']

In [24]:
df # This 4 patient 163118, 164910, 64609, 63768 has no location info in any table

,Internalpatientid,State,Age at update,Event date,Marital status,Ruca category,_merge
133248,163118,NaN,90.284786,2009-09-15 02:08:32.0,Widowed,Not specified,right_only
133249,164910,NaN,88.995834,2008-11-22 23:27:13.0,Widowed,Not specified,right_only
133250,64609,NaN,53.192577,2015-12-22 21:16:52.0,Divorced,Not specified,right_only
133251,63768,NaN,61.529351,2010-12-20 23:27:50.0,Married,Not specified,right_only