In [2]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [4]:
path = '/data/public/MLA/VCHAMPS-Quality/procedures_qual.csv'
procedures = pd.read_csv(path).iloc[:,1:]
procedures.head()

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,100012,52.100619,2001-08-06 18:37:42.0,99243,OFFICE CONSULTATION FOR A NEW OR ESTABLISHED P...,Texas
1,100012,52.397433,2001-11-23 06:16:51.0,99282,EMERGENCY DEPARTMENT VISIT FOR THE EVALUATION ...,Texas
2,100012,52.594739,2002-02-03 09:02:55.0,99090,ANALYSIS OF CLINICAL DATA STORED IN COMPUTERS ...,New Mexico
3,100012,52.648080,2002-02-22 20:57:17.0,99412,PREVENTIVE MEDICINE COUNSELING AND/OR RISK FAC...,New Mexico
4,100012,52.822460,2002-04-27 14:37:10.0,99204,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,New Mexico

In [5]:
procedures = procedures.drop_duplicates(subset = ['Internalpatientid', 'Procedure date','Procedure code description'],keep = 'first')

In [6]:
procedures = procedures.drop_duplicates(subset = ['Internalpatientid', 'Procedure date','Procedure code description'],keep = 'first')

In [7]:
path = '/home/hassan/lily/MLA/FDA/inpatient_simple_quality.csv'
inpatient = pd.read_csv(path).iloc[:,1:]
inpatient.head()

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_admission,CVD,unique_admitting_specialty,unique_discharging_specialty,DOMICILIARY,...,freq,Medical,Mental,Others_Specialty,Rehab,Gerontology,CVD_readmission,next_readmission_time,Discharge date,readmission within 300 days
0,67,1,0.18,1,0,0,0,1,1,0,...,1.00,1,0,0,0,0,0,0.00,2019-04-29 22:39:20.0,0
1,200,4,17.90,2,0,0,0,4,3,0,...,0.25,1,0,0,2,0,0,130.54,2019-01-31 22:59:02.0,1
2,291,7,79.68,2,0,3,1,3,2,0,...,2.33,0,0,0,7,0,0,-6.93,2006-07-08 13:56:24.0,1
3,330,3,17.38,1,0,1,1,2,2,0,...,3.00,1,0,0,2,0,0,993.85,2019-06-28 14:50:58.0,0
4,351,3,22.14,1,0,3,1,2,2,0,...,3.00,0,2,0,0,1,1,77.26,2023-07-10 21:33:42.0,1

In [8]:
inpatient_date = inpatient[['Internalpatientid','Discharge date']]
inpatient_date = inpatient_date.drop_duplicates(keep = 'first')
inpatient_date

     Internalpatientid         Discharge date
0                   67  2019-04-29 22:39:20.0
1                  200  2019-01-31 22:59:02.0
2                  291  2006-07-08 13:56:24.0
3                  330  2019-06-28 14:50:58.0
4                  351  2023-07-10 21:33:42.0
..                 ...                    ...
627             166881  2001-01-09 21:07:54.0
628             167102  2011-11-27 12:57:02.0
629             167404  2004-01-30 11:12:01.0
630             167917  2016-08-07 11:25:36.0
631             168008  2013-04-16 05:39:59.0

[632 rows x 2 columns]

In [9]:
# Filter procedure date that's before discharge date
inpatient_pro = procedures.merge(inpatient_date, how = 'left', on = 'Internalpatientid')
inpatient_pro2 = inpatient_pro.loc[inpatient_pro['Procedure date'] <= inpatient_pro['Discharge date']]
inpatient_pro2

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State,Discharge date
0,100012,52.100619,2001-08-06 18:37:42.0,99243,OFFICE CONSULTATION FOR A NEW OR ESTABLISHED P...,Texas,2007-08-27 10:48:05.0
1,100012,52.397433,2001-11-23 06:16:51.0,99282,EMERGENCY DEPARTMENT VISIT FOR THE EVALUATION ...,Texas,2007-08-27 10:48:05.0
2,100012,52.594739,2002-02-03 09:02:55.0,99090,ANALYSIS OF CLINICAL DATA STORED IN COMPUTERS ...,New Mexico,2007-08-27 10:48:05.0
3,100012,52.648080,2002-02-22 20:57:17.0,99412,PREVENTIVE MEDICINE COUNSELING AND/OR RISK FAC...,New Mexico,2007-08-27 10:48:05.0
4,100012,52.822460,2002-04-27 14:37:10.0,99204,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,New Mexico,2007-08-27 10:48:05.0
...,...,...,...,...,...,...,...
744695,99941,67.115848,2009-09-03 20:12:54.0,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Maine,2010-11-28 13:49:20.0
744696,99941,67.116096,2009-09-03 22:23:27.0,82947,"GLUCOSE; QUANTITATIVE, BLOOD (EXCEPT REAGENT S...",Maine,2010-11-28 13:49:20.0
744697,99941,67.545007,2010-02-07 16:48:09.0,80164,VALPROIC ACID (DIPROPYLACETIC ACID); TOTAL,Maine,2010-11-28 13:49:20.0
744698,99941,67.623323,2010-03-08 07:47:24.0,90732,"PNEUMOCOCCAL POLYSACCHARIDE VACCINE, 23-VALENT...",Maine,2010-11-28 13:49:20.0
744699,99941,68.186219,2010-09-30 01:30:36.0,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Maine,2010-11-28 13:49:20.0

In [10]:
surgery_pro = procedures.loc[procedures['Procedure code description'].str.contains('SURG')]
surgery_pro['num_surgery_pro'] = surgery_pro['Procedure code'].groupby(surgery_pro['Internalpatientid']).transform('count')

/tmp/ipykernel_250636/3717331933.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  surgery_pro['num_surgery_pro'] = surgery_pro['Procedure code'].groupby(surgery_pro['Internalpatientid']).transform('count')

In [11]:
# Calculate total procedures before last admission for each patient
inpatient_pro2 ['total_procedure'] = inpatient_pro2['Procedure code description'].groupby(inpatient_pro2['Internalpatientid']).transform('count')

/tmp/ipykernel_250636/1437103306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inpatient_pro2 ['total_procedure'] = inpatient_pro2['Procedure code description'].groupby(inpatient_pro2['Internalpatientid']).transform('count')

In [12]:
columns = ['Internalpatientid', 'total_procedure']
df = inpatient_pro2[columns]
df = df.groupby('Internalpatientid').mean().reset_index(drop = False)
df = df.merge(surgery_pro[['Internalpatientid','num_surgery_pro']], how = 'left',on = 'Internalpatientid')
df['num_surgery_pro'] = df['num_surgery_pro'].fillna(0)
df = df.groupby('Internalpatientid').mean().reset_index(drop = False)
df

     Internalpatientid  total_procedure  num_surgery_pro
0                   67            619.0              0.0
1                  200           1547.0             51.0
2                  291            504.0              0.0
3                  330            703.0             16.0
4                  351            192.0              1.0
..                 ...              ...              ...
627             166881             82.0              1.0
628             167102            738.0             28.0
629             167404             39.0              0.0
630             167917            244.0              0.0
631             168008            914.0              3.0

[632 rows x 3 columns]

In [13]:
df.to_csv('/home/daisy/FDA_Dataset/procedures_quality_admission.csv')