In [2]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [3]:
path = '/home/hassan/lily/MLA/FDA/outpatient_mortality_quality.csv'
outpatient = pd.read_csv(path).iloc[:,1:]
outpatient.head()

,Internalpatientid,num_visits,CVD,last_visit_date,Age 00-20,Age 20-40,Age 40-60,Age 60-80,Age 80-100,Age 100-120,age_mean,age_std,freq
0,67,313,0,2020-11-11 16:00:31.0,0,0,313,0,0,0,53.523105,3.128784,28.45
1,200,1872,1,2023-02-13 10:31:19.0,0,0,0,741,1131,0,80.476890,4.781990,81.39
2,291,234,0,2007-03-26 14:15:45.0,0,0,0,0,234,0,81.506487,1.264804,58.50
3,330,932,1,2024-03-01 00:19:37.0,0,0,51,881,0,0,69.622150,4.492263,40.52
4,351,773,1,2024-06-04 14:45:34.0,0,0,0,0,773,0,85.033989,0.541659,154.60

In [4]:
path = '/data/public/MLA/VCHAMPS-Quality/procedures_qual.csv'
procedures = pd.read_csv(path).iloc[:,1:]
procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,100012,52.100619,2001-08-06 18:37:42.0,99243,OFFICE CONSULTATION FOR A NEW OR ESTABLISHED P...,Texas
1,100012,52.397433,2001-11-23 06:16:51.0,99282,EMERGENCY DEPARTMENT VISIT FOR THE EVALUATION ...,Texas
2,100012,52.594739,2002-02-03 09:02:55.0,99090,ANALYSIS OF CLINICAL DATA STORED IN COMPUTERS ...,New Mexico
3,100012,52.648080,2002-02-22 20:57:17.0,99412,PREVENTIVE MEDICINE COUNSELING AND/OR RISK FAC...,New Mexico
4,100012,52.822460,2002-04-27 14:37:10.0,99204,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,New Mexico
...,...,...,...,...,...,...
774430,99941,76.764043,2019-05-01 06:11:00.0,92012,OPHTHALMOLOGICAL SERVICES: MEDICAL EXAMINATION...,Maine
774431,99944,77.937531,2010-06-16 04:01:12.0,99070,"SUPPLIES AND MATERIALS (EXCEPT SPECTACLES), PR...",Massachusetts
774432,99944,77.937531,2010-06-16 04:01:12.0,99201,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Massachusetts
774433,99944,80.746340,2013-04-07 18:53:35.0,G0154,DIRECT SKILLED NURSING SERVICES OF A LICENSED ...,Massachusetts
774434,99944,82.385896,2014-11-28 01:04:55.0,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,Massachusetts

In [5]:
procedures = procedures.drop_duplicates(subset = ['Internalpatientid', 'Procedure date','Procedure code description'],keep = 'first')

In [6]:
outpatient_date = outpatient[['Internalpatientid','last_visit_date']]
outpatient_date = outpatient_date.drop_duplicates(keep = 'first')
outpatient_date

     Internalpatientid        last_visit_date
0                   67  2020-11-11 16:00:31.0
1                  200  2023-02-13 10:31:19.0
2                  291  2007-03-26 14:15:45.0
3                  330  2024-03-01 00:19:37.0
4                  351  2024-06-04 14:45:34.0
..                 ...                    ...
995             167907  2013-11-14 23:44:48.0
996             167917  2022-01-27 05:25:51.0
997             168008  2013-12-03 23:38:48.0
998             168496  2023-02-03 22:36:15.0
999             168899  2019-11-20 03:24:47.0

[1000 rows x 2 columns]

In [7]:
# Filter procedure date that's before discharge date
outpatient_pro = procedures.merge(outpatient_date, how = 'left', on = 'Internalpatientid')
outpatient_pro2 = outpatient_pro.loc[outpatient_pro['Procedure date'] <= outpatient_pro['last_visit_date']]
outpatient_pro2

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State,last_visit_date
0,100012,52.100619,2001-08-06 18:37:42.0,99243,OFFICE CONSULTATION FOR A NEW OR ESTABLISHED P...,Texas,2024-02-12 11:34:10.0
1,100012,52.397433,2001-11-23 06:16:51.0,99282,EMERGENCY DEPARTMENT VISIT FOR THE EVALUATION ...,Texas,2024-02-12 11:34:10.0
2,100012,52.594739,2002-02-03 09:02:55.0,99090,ANALYSIS OF CLINICAL DATA STORED IN COMPUTERS ...,New Mexico,2024-02-12 11:34:10.0
3,100012,52.648080,2002-02-22 20:57:17.0,99412,PREVENTIVE MEDICINE COUNSELING AND/OR RISK FAC...,New Mexico,2024-02-12 11:34:10.0
4,100012,52.822460,2002-04-27 14:37:10.0,99204,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,New Mexico,2024-02-12 11:34:10.0
...,...,...,...,...,...,...,...
744731,99941,76.764043,2019-05-01 06:11:00.0,92012,OPHTHALMOLOGICAL SERVICES: MEDICAL EXAMINATION...,Maine,2019-06-01 21:02:00.0
744732,99944,77.937531,2010-06-16 04:01:12.0,99070,"SUPPLIES AND MATERIALS (EXCEPT SPECTACLES), PR...",Massachusetts,2016-06-28 16:05:03.0
744733,99944,77.937531,2010-06-16 04:01:12.0,99201,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Massachusetts,2016-06-28 16:05:03.0
744734,99944,80.746340,2013-04-07 18:53:35.0,G0154,DIRECT SKILLED NURSING SERVICES OF A LICENSED ...,Massachusetts,2016-06-28 16:05:03.0
744735,99944,82.385896,2014-11-28 01:04:55.0,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,Massachusetts,2016-06-28 16:05:03.0

In [8]:
# Calculate total procedures before last admission for each patient
outpatient_pro2 ['total_procedure'] = outpatient_pro2['Procedure code description'].groupby(outpatient_pro2['Internalpatientid']).transform('count')

/tmp/ipykernel_277770/2852625098.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outpatient_pro2 ['total_procedure'] = outpatient_pro2['Procedure code description'].groupby(outpatient_pro2['Internalpatientid']).transform('count')

In [9]:
# Calculate total procedures that's surgery before last admission for each patient
surgery_pro = outpatient_pro2.loc[outpatient_pro2['Procedure code description'].str.contains('SURG')]
surgery_pro['num_surgery_pro'] = surgery_pro['Procedure code'].groupby(surgery_pro['Internalpatientid']).transform('count')

/tmp/ipykernel_277770/2115936644.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  surgery_pro['num_surgery_pro'] = surgery_pro['Procedure code'].groupby(surgery_pro['Internalpatientid']).transform('count')

In [10]:
procedures['Internalpatientid'].nunique()

1000

In [11]:
columns = ['Internalpatientid', 'total_procedure']
df = outpatient_pro2[columns]
df = df.groupby('Internalpatientid').mean().reset_index(drop = False)
df = df.merge(surgery_pro[['Internalpatientid','num_surgery_pro']], how = 'left',on = 'Internalpatientid')
df['num_surgery_pro'] = df['num_surgery_pro'].fillna(0)
df = df.groupby('Internalpatientid').mean().reset_index(drop = False)
df

     Internalpatientid  total_procedure  num_surgery_pro
0                   67            691.0              0.0
1                  200           1971.0             51.0
2                  291            504.0              0.0
3                  330           1353.0             16.0
4                  351            350.0              1.0
..                 ...              ...              ...
995             167907            188.0              0.0
996             167917            384.0              0.0
997             168008            916.0              3.0
998             168496            241.0              3.0
999             168899            271.0              0.0

[1000 rows x 3 columns]

In [12]:
#df.to_csv('/home/daisy/FDA_Dataset/inpatient_procedures_clean_allcause_mortality_quality.csv')